@charset "UTF-8";
.step-sprite, .step-icon-complate, .step-icon-current, .step-icon-incomplate {
  background-image: url('../images/step-s2210c2363c.png');
  background-repeat: no-repeat;
}

.step-icon-complate {
  background-position: 0 0;
  height: 43px;
  width: 45px;
}

.step-icon-current {
  background-position: 0 -63px;
  height: 43px;
  width: 43px;
}

.step-icon-incomplate {
  background-position: 0 -126px;
  height: 43px;
  width: 45px;
}

.systemlogo-sprite, .systemlogo-bao, .systemlogo-cheng, .systemlogo-dangan, .systemlogo-gcjs, .systemlogo-guotu, .systemlogo-guozi, .systemlogo-jiankong, .systemlogo-sys-manage, .systemlogo-xinxi, .systemlogo-yonghu, .systemlogo-yuyue, .systemlogo-zhengfu, .systemlogo-zjk {
  background-image: url('../images/systemlogo-sfe9b45d16e.png');
  background-repeat: no-repeat;
}

.systemlogo-bao {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

.systemlogo-cheng {
  background-position: 0 -52px;
  height: 32px;
  width: 32px;
}

.systemlogo-dangan {
  background-position: 0 -104px;
  height: 32px;
  width: 32px;
}

.systemlogo-gcjs {
  background-position: 0 -156px;
  height: 32px;
  width: 32px;
}

.systemlogo-guotu {
  background-position: 0 -208px;
  height: 32px;
  width: 32px;
}

.systemlogo-guozi {
  background-position: 0 -260px;
  height: 32px;
  width: 32px;
}

.systemlogo-jiankong {
  background-position: 0 -312px;
  height: 32px;
  width: 32px;
}

.systemlogo-sys-manage {
  background-position: 0 -364px;
  height: 32px;
  width: 32px;
}

.systemlogo-xinxi {
  background-position: 0 -416px;
  height: 32px;
  width: 32px;
}

.systemlogo-yonghu {
  background-position: 0 -468px;
  height: 32px;
  width: 32px;
}

.systemlogo-yuyue {
  background-position: 0 -520px;
  height: 32px;
  width: 32px;
}

.systemlogo-zhengfu {
  background-position: 0 -572px;
  height: 32px;
  width: 32px;
}

.systemlogo-zjk {
  background-position: 0 -624px;
  height: 32px;
  width: 32px;
}

body {
  background: url('../images/body-bg.gif?1502172444') #e9ecf3;
  line-height: inherit;
  position: relative;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.bc-white {
  background-color: #fff;
}

.hover-shadow {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.hover-shadow:hover {
  -moz-box-shadow: 1px 1px 6px 4px rgba(40, 57, 115, 0.1);
  -webkit-box-shadow: 1px 1px 6px 4px rgba(40, 57, 115, 0.1);
  box-shadow: 1px 1px 6px 4px rgba(40, 57, 115, 0.1);
}

.am-btn-main {
  background-color: #003472;
  color: #fff !important;
  border: none;
  border-radius: 3px;
  vertical-align: middle;
}
.am-btn-main:hover {
  color: #fff;
  text-decoration: none !important;
  background-color: #0057bf;
}

.btn-border {
  border: 1px solid #bbb;
  color: #5e5e5e;
  background-color: #fff;
  margin-right: 4px;
  padding: 3px 10px;
  border-radius: 3px;
}
.btn-border:hover {
  border-color: #003472;
  color: #003472;
  text-decoration: none !important;
}
.btn-border.btn-blue {
  border-color: #b1bdd5;
  color: #003472;
}
.btn-border.btn-blue:hover {
  border-color: #003472;
  color: #003472;
  text-decoration: none !important;
}
.btn-border .iconfont {
  margin-right: 2px;
  vertical-align: -1px;
}

.btn-golist {
  margin-right: 15px;
  margin-top: 25px;
}

.border-widget {
  border: #e4e7ec 1px solid;
}

.am-btn-danger, .am-btn-primary, .am-btn-success {
  color: #fff !important;
}
.am-btn-danger:hover, .am-btn-primary:hover, .am-btn-success:hover {
  text-decoration: none;
}

.am-btn {
  padding-top: .4em;
  padding-bottom: .4em;
}

.header {
  background: url('../images/header-bg2.png?1505096078') #fff no-repeat right bottom;
  z-index: 1103;
  padding-left: 0;
  position: fixed;
  width: 100%;
  transition: all 0.4s ease-in-out;
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}
.header.system-header {
  background: url('../images/header-bg.jpg?1502173004') #fff no-repeat right bottom;
}
.header.system-header a, .header.system-header .tpl-header-logo .top-title {
  color: #003472;
}
.header.active {
  padding-left: 0px;
}
.header .tpl-header-navbar li {
  float: left;
  margin-top: 20px;
}
.header .tpl-header-navbar li.am-active .am-dropdown-toggle {
  background-color: #ffffff;
}
.header .tpl-header-navbar a {
  line-height: 30px;
  display: block;
  padding: 1px 16px;
  position: relative;
  font-size: 14px;
  color: #fff;
}
.header .tpl-header-navbar a .iconfont {
  font-size: 16px;
  vertical-align: 0;
}
.header .tpl-header-navbar a:hover {
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  border: 1px solid #003472;
}
.header .tpl-header-navbar a .item-feed-badge {
  position: absolute;
  top: 9px;
  left: 28px;
}
.header .tpl-header-logo {
  width: 400px;
  padding-left: 20px;
  height: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: table;
  position: relative;
}
.header .tpl-header-logo .header-logo {
  width: 42px;
  height: 35px;
  margin-top: 20px;
  background: url('../images/logo.png?1515379194') no-repeat;
}
.header .tpl-header-logo .header-logo-system-jiankong {
  background: url('../images/header-logo-system-jiankong.png?1505181701');
}
.header .tpl-header-logo .top-title {
  font-weight: bold;
  font-size: 28px;
  padding-left: 20px;
  line-height: 70px;
  color: #fff;
  margin-top: -2px;
  margin-bottom: 0;
}
.header .tpl-header-logo a {
  display: table-cell;
  vertical-align: middle;
}
.header .tpl-header-logo img {
  height: 48px;
  width: auto;
}
.header .tpl-header-fluid {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.header ul.am-dropdown-content.tpl-dropdown-content {
  margin-top: 10px;
}
.header ul.am-dropdown-content.tpl-dropdown-content:before, .header ul.am-dropdown-content.tpl-dropdown-content:after {
  content: "";
  display: block;
}
.header .tpl-header-switch-button {
  margin: 0 0 0 -20px;
  float: left;
  color: #cfcfcf;
  border: 0;
  border-radius: 0;
  padding: 0 22px;
  font-size: 22px;
  line-height: 55px;
}
.header .tpl-header-switch-button:hover {
  color: #999;
  outline: none;
}
.header .tpl-header-search-form {
  height: 70px;
  line-height: 68px;
  margin-left: 10px;
  margin-right: 30px;
}
.header .tpl-header-search-box {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  outline: none;
  font-size: 14px;
  padding: 4px 4px 4px 10px;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  width: 160px;
}
.header .tpl-header-search-box:focus {
  width: 280px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0;
}
.header .tpl-header-search-btn {
  border: none;
  background: none;
  font-size: 15px;
  color: #fff;
}
.header .tpl-header-search-btn:hover, .header .tpl-header-search-btn:active {
  color: #fff;
}
.header .dropdown-subnav li {
  display: block;
  width: 100%;
  margin: 0;
}
.header .dropdown-subnav li a {
  line-height: 36px;
  display: block;
  padding: 0 10px;
  position: relative;
  font-size: 14px;
  color: #929DB4;
}
.header .dropdown-subnav li a:hover {
  color: #003472;
  background-color: #f0f0f0;
  border: none;
}

ul.tpl-dropdown-content {
  padding: 10px;
  margin-top: 0;
  width: 300px;
  background-color: #2f3638;
  border: 1px solid #525e62;
  border-radius: 0;
  -moz-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);
}
ul.tpl-dropdown-content li {
  float: none;
}
ul.tpl-dropdown-content:before, ul.tpl-dropdown-content:after {
  display: none;
}

ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-title {
  font-size: 12px;
  float: left;
  color: rgba(255, 255, 255, 0.7);
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-time {
  float: right;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  width: 50px;
  margin-left: 10px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications:last-child .tpl-dropdown-menu-notifications-item {
  text-align: center;
  border: none;
  font-size: 12px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications:last-child .tpl-dropdown-menu-notifications-item i {
  margin-left: -6px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-messages:last-child .tpl-dropdown-menu-messages-item {
  text-align: center;
  border: none;
  font-size: 12px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-messages:last-child .tpl-dropdown-menu-messages-item i {
  margin-left: -6px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item {
  padding: 12px;
  color: #fff;
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item:hover, ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item:focus, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item:hover, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item:focus {
  background-color: #465154;
  color: #fff;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-ico, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-ico {
  line-height: initial;
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 6px;
  overflow: hidden;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-ico img, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-ico img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-time, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-time {
  float: right;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  width: 40px;
  margin-left: 10px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-content, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-content {
  display: block;
  font-size: 13px;
  margin-left: 45px;
  margin-right: 50px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-content .menu-messages-content-time, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-content .menu-messages-content-time {
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
}

.am-dimmer {
  z-index: 1200;
}

.am-modal, .am-popup {
  z-index: 1300;
}

.am-selected {
  width: auto;
}

legend {
  margin-bottom: 15px;
}

#advanced_search .am-form-group {
  margin-bottom: 10px !important;
}

.am-datepicker-dropdown {
  z-index: 1400;
}

.tpl-skiner {
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 10000;
  right: -130px;
  top: 65px;
}

.tpl-skiner.active {
  right: 0px;
}

.tpl-skiner-content {
  background: rgba(0, 0, 0, 0.7);
  width: 130px;
  padding: 15px;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}

.fc-content .am-icon-close {
  position: absolute;
  right: 0;
  top: 0px;
}

.tpl-skiner-toggle {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 40px;
  color: #969a9b;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tpl-user-panel-profile-picture span {
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.tpl-user-panel-profile-picture span i {
  color: #fff;
  font-size: 38px;
  line-height: 80px;
}

.tpl-skiner-content-title {
  margin: 0;
  margin-bottom: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tpl-skiner-content-bar {
  padding-top: 10px;
}
.tpl-skiner-content-bar .skiner-color {
  transition: all 0.4s ease-in-out;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.tpl-skiner-content-bar .skiner-white {
  background: #fff;
  border: 2px solid #eee;
}
.tpl-skiner-content-bar .skiner-black {
  background: #000;
  border: 2px solid #222;
}

.sub-active {
  color: #fff !important;
}

.left-sidebar {
  transition: all 0.4s ease-in-out;
  width: 240px;
  padding-top: 0;
  position: absolute;
  background-color: #222d32;
  top: 70px;
  left: 0px;
}
.left-sidebar.xs-active {
  left: 0px;
}
.left-sidebar.active {
  left: -240px;
}
.left-sidebar .tpl-sidebar-user-panel {
  padding: 33px 28px 33px 22px;
  background-color: #1a2226;
  display: none;
}
.left-sidebar .tpl-sidebar-user-panel .tpl-user-panel-profile-picture {
  float: left;
}
.left-sidebar .tpl-sidebar-user-panel .tpl-user-panel-profile-picture i {
  color: #48555c;
  font-size: 34px;
  margin-right: 10px;
  line-height: inherit;
}
.left-sidebar .tpl-sidebar-user-panel .tpl-user-panel-status-icon {
  margin-right: 2px;
}
.left-sidebar .tpl-sidebar-user-panel .user-panel-logged-in-text {
  display: block;
  color: #fff;
}
.left-sidebar .tpl-sidebar-user-panel .user-panel-logged-in-text.orginzer {
  color: #8e9595;
}
.left-sidebar .tpl-sidebar-user-panel .tpl-user-panel-action-link {
  color: #6d787c;
  font-size: 12px;
}
.left-sidebar .tpl-sidebar-user-panel .tpl-user-panel-action-link:hover {
  color: #a2aaad;
}
.left-sidebar .sidebar-nav-link {
  color: #fff;
}
.left-sidebar .sidebar-nav-link a {
  display: block;
  color: #b7bfbf;
  padding: 10px 17px;
  font-size: 14px;
  cursor: pointer;
}
.left-sidebar .sidebar-nav-link a .iconfont {
  font-size: 16px;
  vertical-align: -3px;
}
.left-sidebar .sidebar-nav-link a.active {
  background: #1e282c;
  color: #fff;
  border-left: #3bb4f2 3px solid;
}
.left-sidebar .sidebar-nav-link a.active + ul {
  background-color: #28353b;
}
.left-sidebar .sidebar-nav-link a:hover {
  background: #374850;
  color: #fff;
}
.left-sidebar .sidebar-nav-link .sidebar-nav-sub .sidebar-nav-link a {
  padding-top: 3px;
  padding-bottom: 3px;
}
.left-sidebar .sidebar-nav-link .am-icon-angle-right.sidebar-nav-link-logo:before {
  font-family: "iconfont" !important;
  content: '\e602' !important;
}
.left-sidebar .sidebar-nav-link .sub-active .am-icon-angle-right.sidebar-nav-link-logo {
  font-size: 20px;
  vertical-align: -3px;
}
.left-sidebar .sidebar-nav-link .sub-active .am-icon-angle-right.sidebar-nav-link-logo:before {
  content: '\e61f' !important;
}
.left-sidebar .active .sidebar-nav-sub {
  display: block;
}
.left-sidebar .sidebar-nav-sub {
  display: none;
}
.left-sidebar .sidebar-nav-sub .sidebar-nav-link {
  font-size: 12px;
  padding-left: 30px;
}
.left-sidebar .sidebar-nav-sub .sidebar-nav-link a {
  font-size: 12px;
  padding-left: 0;
}
.left-sidebar .sidebar-nav-sub .sidebar-nav-link-logo {
  margin-right: 4px;
  width: 16px;
  font-size: 16px;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav-sub-ico-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sidebar-nav-link-logo-ico {
  margin-top: 5px;
}

.sidebar-nav-heading {
  padding: 24px 17px;
  font-size: 15px;
  font-weight: 500;
}

.sidebar-nav-heading-info {
  font-size: 12px;
  color: #868E8E;
  padding-left: 10px;
}

.sidebar-nav-link-logo {
  margin-right: 8px;
  width: 20px;
  font-size: 16px;
}

.tpl-content-wrapper {
  transition: all 0.4s ease-in-out;
  position: relative;
  margin-left: 240px;
  padding-top: 70px;
  border-bottom-left-radius: 3px;
}
.tpl-content-wrapper.xs-active {
  margin-left: 240px;
}
.tpl-content-wrapper.active {
  margin-left: 0;
}

.block-sidebar {
  position: fixed;
  display: none;
  width: 60px;
  bottom: 80px;
  right: 10px;
  z-index: 999;
}
.block-sidebar a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #b1bdd5;
  text-align: center;
  background-color: #929db4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.block-sidebar a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.block-sidebar a i {
  font-size: 30px;
  color: #fff;
  line-height: 48px;
}

.page-header {
  background: #424b4f;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 0;
  border-bottom: 0;
}

.container-fluid {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 20px 10px;
  border-bottom: 0;
}
.container-fluid .menu-toggle {
  font-size: 18px;
  color: #003472;
  margin-right: 10px;
  vertical-align: -1px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.page-header-description {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 14px;
  color: #e6e6e6;
}

.page-header-heading {
  font-size: 14px;
  color: #666;
  /*.menu-toggle{
      @include transition(all 0.5s);
      &.active{
          @include transform(rotate(180deg));
      }
  }*/
}
.page-header-heading .page-header-heading-ico {
  font-size: 28px;
  position: relative;
  top: 3px;
}
.page-header-heading small {
  font-weight: normal;
  line-height: 1;
  color: #B3B3B3;
}

.page-header-button {
  transition: all 0.4s ease-in-out;
  float: right;
  outline: none;
  border-radius: 3px;
  color: #fff;
  background-color: transparent;
}
.page-header-button:hover {
  background-color: #ffffff;
  color: #333;
  opacity: 1;
}

.widget {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0;
  position: relative;
}
.widget .widget-head {
  width: 100%;
  padding: 15px;
}
.widget .widget-title {
  font-size: 16px;
}
.widget .widget-title small {
  font-size: 12px;
  padding-left: 15px;
}
.widget .widget-fluctuation-period-text {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 9px;
}
.widget .widget-body {
  padding: 13px 4px;
  width: 100%;
}
.widget .widget-fluctuation-description-text {
  margin-top: 4px;
  display: block;
  font-size: 12px;
  line-height: 13px;
}
.widget .widget-fluctuation-description-amount {
  display: block;
  font-size: 20px;
  line-height: 22px;
}
.widget .widget-statistic-header {
  position: relative;
  z-index: 35;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.widget .widget-body-md {
  height: 200px;
}
.widget .widget-body-lg {
  min-height: 330px;
}
.widget .widget-margin-bottom-lg {
  margin-bottom: 20px;
}

.row-content {
  padding: 20px;
}

.tpl-table-black-operation a {
  display: inline-block;
  padding: 5px 6px;
  font-size: 12px;
  line-height: 12px;
}

.tpl-switch input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 20px;
}

.tpl-switch input[type="checkbox"].ios-switch + div {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  margin-top: 6px;
}

.tpl-switch input[type="checkbox"].ios-switch:checked + div {
  width: 40px;
  background-position: 0 0;
  background-color: #36c6d3;
}

.tpl-switch input[type="checkbox"].tinyswitch.ios-switch + div {
  width: 34px;
  height: 18px;
}

.tpl-switch input[type="checkbox"].bigswitch.ios-switch + div {
  width: 50px;
  height: 25px;
}

.tpl-switch input[type="checkbox"].green.ios-switch:checked + div {
  background-color: #00e359;
  border: 1px solid #00a23f;
  box-shadow: inset 0 0 0 10px #00e359;
}

.tpl-switch input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 18px;
  height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

.tpl-switch input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}

.tpl-switch input[type="checkbox"].tinyswitch.ios-switch + div > div {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.tpl-switch input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(16px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac;
}

.tpl-switch input[type="checkbox"].bigswitch.ios-switch + div > div {
  width: 23px;
  height: 23px;
  margin-top: 1px;
}

.tpl-switch input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
}

.tpl-switch input[type="checkbox"].green.ios-switch:checked + div > div {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px #00a23f;
}

.tpl-page-state {
  width: 100%;
}

.tpl-page-state-title {
  font-size: 40px;
  font-weight: bold;
}

.tpl-page-state-content {
  padding: 10px 0;
}

.tpl-login {
  width: 100%;
}

.tpl-login-logo {
  max-width: 300px;
  height: 205px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-body {
  background: url('../images/login-bg.jpg') no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.tpl-login-title {
  width: 100%;
  font-size: 24px;
}

.tpl-login-content {
  width: 300px;
  margin: 12% auto 0;
}

.tpl-login-remember-me {
  color: #B3B3B3;
  font-size: 14px;
}
.tpl-login-remember-me label {
  position: relative;
  top: -2px;
}

.tpl-login-content-info {
  color: #B3B3B3;
  font-size: 14px;
}

.cl-p {
  padding: 0 !important;
}

.tpl-table-line-img {
  max-width: 100px;
  padding: 2px;
}

.tpl-table-list-select {
  text-align: right;
}

.fc-button-group, .fc button {
  display: block;
}

.sidebar-nav-sub .sidebar-nav-link-logo {
  margin-left: 10px;
}

.tpl-header-search-box:hover, .tpl-header-search-box:active .tpl-error-title {
  color: #848c90;
}

.tpl-error-title-info {
  line-height: 30px;
  font-size: 21px;
  margin-top: 20px;
  text-align: center;
  color: #dce2ec;
}

.tpl-error-btn {
  background: #03a9f3;
  border: 1px solid #03a9f3;
  border-radius: 30px;
  padding: 6px 20px 8px;
}

.tpl-error-content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  color: #96a2b4;
}

.tpl-calendar-box {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}
.tpl-calendar-box .fc-event {
  border-radius: 0;
  background: #03a9f3;
  border: 1px solid #14b0f6;
}
.tpl-calendar-box .fc-axis {
  color: #868E8E;
}
.tpl-calendar-box .fc-unthemed .fc-today {
  background: #eee;
}
.tpl-calendar-box .fc-more {
  color: #868E8E;
}
.tpl-calendar-box .fc th.fc-widget-header {
  background: #32c5d2 !important;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 0px;
  text-transform: uppercase;
  border: none !important;
}
.tpl-calendar-box .fc th.fc-widget-header a {
  color: #fff;
}
.tpl-calendar-box .fc-center h2 {
  color: #868E8E;
}
.tpl-calendar-box .fc-state-default {
  background-image: none;
  background: #fff;
  font-size: 14px;
  color: #868E8E;
}
.tpl-calendar-box .fc th, .tpl-calendar-box .fc td, .tpl-calendar-box .fc hr, .tpl-calendar-box .fc thead, .tpl-calendar-box .fc tbody, .tpl-calendar-box .fc-row {
  border-color: #eee !important;
}
.tpl-calendar-box .fc-day-number {
  color: #868E8E;
  padding-right: 6px;
}
.tpl-calendar-box .fc th {
  color: #868E8E;
  font-weight: normal;
  font-size: 14px;
  padding: 6px 0;
}

.tpl-login-logo {
  background: url(../img/logoa.png) center no-repeat;
}

.sub-active {
  color: #23abf0 !important;
}

.tpl-table-line-img {
  border: 1px solid #ddd;
}

.tpl-pagination .am-disabled a, .tpl-pagination li a {
  color: #003472;
  font-size: 14px;
  border-radius: 3px;
  padding: 4px 9px;
}
.tpl-pagination .am-active a {
  background: #003472;
  color: #fff;
  border: 1px solid #003472;
}

.tpl-login-btn {
  background-color: #32c5d2;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 14px;
  outline: none;
}
.tpl-login-btn:hover, .tpl-login-btn:active {
  background: #22b2e1;
  color: #fff;
}

.tpl-login-title {
  color: #697882;
}
.tpl-login-title strong {
  color: #39bae4;
}

.tpl-login-content {
  width: 500px;
  padding: 40px 40px 25px;
  background-color: #fff;
  border-radius: 4px;
}

.tpl-form-line-form, .tpl-form-border-form {
  padding-top: 20px;
}

.tpl-form-border-form input[type=number]:focus, .tpl-form-border-form input[type=search]:focus, .tpl-form-border-form input[type=text]:focus, .tpl-form-border-form input[type=password]:focus, .tpl-form-border-form input[type=datetime]:focus, .tpl-form-border-form input[type=datetime-local]:focus, .tpl-form-border-form input[type=date]:focus, .tpl-form-border-form input[type=month]:focus, .tpl-form-border-form input[type=time]:focus, .tpl-form-border-form input[type=week]:focus, .tpl-form-border-form input[type=email]:focus, .tpl-form-border-form input[type=url]:focus, .tpl-form-border-form input[type=tel]:focus, .tpl-form-border-form input[type=color]:focus, .tpl-form-border-form select:focus, .tpl-form-border-form textarea:focus, .am-form-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tpl-form-border-form .am-checkbox, .tpl-form-border-form .am-checkbox-inline, .tpl-form-border-form .am-form-label, .tpl-form-border-form .am-radio, .tpl-form-border-form .am-radio-inline {
  margin-top: 0;
  margin-bottom: 0;
}

.tpl-form-border-form .am-form-group:after {
  clear: both;
}

.tpl-form-border-form .am-form-group:after, .tpl-form-border-form .am-form-group:before {
  content: " ";
  display: table;
}

.tpl-form-border-form .am-form-label {
  padding-top: 5px;
  font-size: 16px;
  color: #888;
  font-weight: inherit;
  text-align: right;
}

.tpl-form-border-form .am-form-group {
  /*padding: 20px 0;*/
}

.tpl-form-border-form .am-form-label .tpl-form-line-small-title {
  color: #999;
  font-size: 12px;
}

.tpl-form-line-form input[type=number]:focus, .tpl-form-line-form input[type=search]:focus, .tpl-form-line-form input[type=text]:focus, .tpl-form-line-form input[type=password]:focus, .tpl-form-line-form input[type=datetime]:focus, .tpl-form-line-form input[type=datetime-local]:focus, .tpl-form-line-form input[type=date]:focus, .tpl-form-line-form input[type=month]:focus, .tpl-form-line-form input[type=time]:focus, .tpl-form-line-form input[type=week]:focus, .tpl-form-line-form input[type=email]:focus, .tpl-form-line-form input[type=url]:focus, .tpl-form-line-form input[type=tel]:focus, .tpl-form-line-form input[type=color]:focus, .tpl-form-line-form select:focus, .tpl-form-line-form textarea:focus, .am-form-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tpl-form-line-form .am-checkbox, .tpl-form-line-form .am-checkbox-inline, .tpl-form-line-form .am-form-label, .tpl-form-line-form .am-radio, .tpl-form-line-form .am-radio-inline {
  margin-top: 0;
  margin-bottom: 0;
}

.tpl-form-line-form .am-form-group:after {
  clear: both;
}

.tpl-form-line-form .am-form-group:after, .tpl-form-line-form .am-form-group:before {
  content: " ";
  display: table;
}

.tpl-form-line-form .am-form-label {
  padding-top: 5px;
  font-size: 16px;
  color: #888;
  font-weight: inherit;
  text-align: right;
}

.tpl-form-line-form .am-form-group {
  /*padding: 20px 0;*/
}

.tpl-form-line-form .am-form-label .tpl-form-line-small-title {
  color: #999;
  font-size: 12px;
}

.tpl-table-black-operation a {
  border: 1px solid #36c6d3;
  color: #36c6d3;
}
.tpl-table-black-operation a:hover {
  background: #36c6d3;
  color: #fff;
}
.tpl-table-black-operation a.tpl-table-black-operation-del {
  border: 1px solid #e7505a;
  color: #e7505a;
}
.tpl-table-black-operation a.tpl-table-black-operation-del:hover {
  background: #e7505a;
  color: #fff;
}

.tpl-user-card {
  border: 1px solid #3598dc;
  border-top: 2px solid #3598dc;
  background: #3598dc;
  color: #ffffff;
  border-radius: 4px;
}

.tpl-user-card-title {
  font-size: 26px;
  margin-top: 0;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 10px;
}

.achievement-subheading {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 15px;
}

.achievement-image {
  border-radius: 50%;
  margin-bottom: 22px;
}

.achievement-description {
  margin: 0;
  font-size: 12px;
}

.tpl-table-black {
  color: #838FA1;
}
.tpl-table-black thead > tr > th {
  font-size: 14px;
  padding: 6px;
}
.tpl-table-black tbody > tr > td {
  font-size: 14px;
  padding: 7px 6px;
}
.tpl-table-black tfoot > tr > th {
  font-size: 14px;
  padding: 6px 0;
}

.am-progress {
  height: 12px;
}

.am-progress-title {
  font-size: 14px;
  margin-bottom: 8px;
}

.widget-fluctuation-tpl-btn {
  margin-top: 6px;
  display: block;
  color: #fff;
  font-size: 12px;
  padding: 8px 14px;
  outline: none;
  background-color: #e7505a;
  border: 1px solid #e7505a;
}
.widget-fluctuation-tpl-btn:hover {
  background: transparent;
  color: #e7505a;
}

.widget-fluctuation-description-text {
  color: #c5cacd;
}

.widget-fluctuation-period-text {
  color: #838FA1;
}

.text-success {
  color: #5eb95e;
}

.widget-head {
  border-bottom: 1px solid #eef1f5;
}

.widget-function a {
  color: #838FA1;
}
.widget-function a:hover {
  color: #a7bdcd;
}

.widget {
  padding: 15px 10px 18px;
  background-color: #fff;
  border-radius: 4px;
  color: #838FA1;
}

.widget-title {
  font-size: 16px;
}

.widget-yellow, .widget-primary, .widget-purple, .widget-white {
  min-height: 174px;
}

.page-header-button {
  opacity: .8;
  border: 1px solid #32c5d2;
  background: #32c5d2;
  color: #fff;
}
.page-header-button:hover {
  opacity: 1;
}

.page-header-description {
  color: #666;
}

.am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field {
  padding: .4em;
  border-radius: 3px;
}
.am-form input[type=number]:focus, .am-form input[type=search]:focus, .am-form input[type=text]:focus, .am-form input[type=password]:focus, .am-form input[type=datetime]:focus, .am-form input[type=datetime-local]:focus, .am-form input[type=date]:focus, .am-form input[type=month]:focus, .am-form input[type=time]:focus, .am-form input[type=week]:focus, .am-form input[type=email]:focus, .am-form input[type=url]:focus, .am-form input[type=tel]:focus, .am-form input[type=color]:focus, .am-form select:focus, .am-form textarea:focus, .am-form-field:focus {
  border-color: #003472;
  vertical-align: middle;
}

ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-content .menu-messages-content-time {
  color: #96a5aa;
}

ul.tpl-dropdown-content {
  background: #fff;
  border: 1px solid #ddd;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item {
  border-bottom: 1px solid #eee;
  color: #999;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item:hover, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item:hover {
  background-color: #f5f5f5;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .tpl-dropdown-menu-notifications-time, ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .tpl-dropdown-menu-notifications-time {
  color: #999;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item:hover {
  background-color: #f5f5f5;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-title {
  color: #999;
}

.sidebar-nav-heading {
  color: #999;
  border-bottom: 1px solid #eee;
}

.adSearch {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

.lg-content {
  *zoom: 1;
  position: relative;
  border: 1px solid #ddd;
  padding: 20px 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
}
.lg-content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.lg-content input.am-form-field,
.lg-content .am-selected,
.lg-content button.am-selected-btn {
  width: 100%;
}

.jiaose li {
  display: inline-block;
  margin-right: 10px;
}
.jiaose li label {
  min-width: 120px;
  padding-left: 5px;
  padding-right: 20px;
  height: 36px;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
  display: block;
  text-align: left;
  font-weight: normal;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}
.jiaose li label.checked {
  border-color: #1fb77e;
  color: #1fb77e;
  border-width: 2px;
}
.jiaose li label input {
  font-weight: normal;
  margin-right: 8px;
}
.jiaose li label.af-click {
  background-color: rgba(25, 167, 240, 0.7);
  color: #fff;
}
.jiaose li a:hover {
  background-color: rgba(25, 167, 240, 0.7);
  color: #fff;
}

.widget .adSearch table {
  white-space: nowrap;
  margin-bottom: 0px;
  border-color: #adc9d9;
}
.widget .adSearch table thead + tbody > tr:first-child > td, .widget .adSearch table thead + tbody > tr:first-child > th {
  border-top-color: #adc9d9;
}
.widget .adSearch table thead td {
  font-weight: normal;
  background-color: #e7f3fa;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZjNmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZjNmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7f3fa), color-stop(100%, #e7f3fa));
  background: -moz-linear-gradient(top, #e7f3fa, #e7f3fa);
  background: -webkit-linear-gradient(top, #e7f3fa, #e7f3fa);
  background: linear-gradient(to bottom, #e7f3fa, #e7f3fa);
  color: #0d83d3;
  font-size: 14px;
  text-align: center;
  border-color: #adc9d9;
}
.widget .adSearch table td {
  text-align: left;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #adc9d9;
}
.widget .adSearch table input {
  padding-left: 5px;
  border: 1px solid #adc9d9;
  border-radius: 3px;
  color: #fff;
}
.widget .adSearch table .am-selected-btn {
  width: 160px;
  margin-left: 0px;
  padding-left: 10px;
}
.widget .adSearch table .am-selected {
  width: auto;
}

.widget-color-green {
  border: 1px solid #32c5d2;
  border-top: 2px solid #32c5d2;
  background: #32c5d2;
  color: #ffffff;
}
.widget-color-green .widget-fluctuation-period-text {
  color: #fff;
}
.widget-color-green .widget-head {
  border-bottom: 1px solid #2bb8c4;
}
.widget-color-green .widget-fluctuation-description-text {
  color: #bbe7f6;
}
.widget-color-green .widget-function a {
  color: #42bde5;
}
.widget-color-green .widget-function a:hover {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .tpl-index-settings-button {
    display: none;
  }

  .left-sidebar {
    padding-top: 111px;
  }

  .tpl-content-wrapper {
    margin-left: 0;
  }

  .tpl-header-logo {
    float: none;
    width: 100%;
  }

  .tpl-header-navbar-welcome {
    display: none;
  }

  .tpl-header-fluid {
    border-top: none;
    margin-left: 0;
  }

  .theme-white .tpl-header-fluid {
    border-top: none;
  }
}
@media screen and (min-width: 641px) {
  [class*=am-u-] {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 641px) {
  .theme-white .tpl-error-title {
    font-size: 130px;
    line-height: 140px;
  }

  .theme-white .tpl-login-title {
    font-size: 20px;
  }
  .theme-white .tpl-login-content {
    width: 86%;
    padding: 22px 30px 25px;
  }

  .tpl-header-search {
    display: none;
  }

  ul.tpl-dropdown-content {
    position: fixed;
    width: 100%;
    left: 0;
    top: 112px;
    right: 0;
  }
}
.clone-group-remove {
  color: #666;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding: 4px 6px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 2px;
}
.clone-group-remove:hover {
  background-color: #9c9c9c;
  color: #fff;
}

.page-title-wrap {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.table-box {
  font-size: 12px;
  border: 1px solid #c0cede;
  background-color: #fff;
}
.table-box .table-header {
  background-color: #e4eef5;
  padding: 8px 10px;
  border-bottom: none;
}
.table-box .table-header .table-head-page-controler {
  font-size: 12px;
  line-height: 23px;
  color: #2d2d2d;
}
.table-box .table-header .table-head-page-controler form {
  float: right;
  margin-left: 15px;
}
.table-box .table-header .table-head-page-controler input {
  line-height: 19px;
  height: 20px;
  border: 1px solid #003472;
  width: 40px;
  text-align: center;
}
.table-box .table-header .table-head-page-controler button {
  line-height: 19px;
  height: 20px;
  border: 1px solid #003472;
  background-color: #fff;
  padding: 0 6px;
  color: #283973;
  border-left: 0;
}
.table-box .table-body {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}
.table-box .table-body .date-list-table {
  border-collapse: inherit;
  font-size: 14px;
  background-color: #fff;
}
.table-box .table-body .date-list-table thead {
  background-color: #f2f4f6;
}
.table-box .table-body .date-list-table thead td, .table-box .table-body .date-list-table thead th {
  padding: 6px 8px;
  border: 1px solid #d5d6d8;
}
.table-box .table-body .date-list-table tr:nth-child(2n) {
  background-color: #f7f8fa;
}
.table-box .table-body .date-list-table td, .table-box .table-body .date-list-table th {
  font-weight: normal;
  padding: 6px 8px;
  border-bottom: 1px solid #ecedef;
  color: #81858c;
  min-width: 60px;
}
.table-box .table-body .date-list-table tbody tr:hover td {
  border-bottom: 1px solid #003472;
}
.table-box .table-body .date-list-table th {
  color: #4f4f4f;
}
.table-box .table-body .date-list-table td a {
  color: #4f4f4f;
}
.table-box .table-body .date-list-table td a:hover {
  text-decoration: underline;
}
.table-box .table-footer .tfoot-outer {
  overflow: auto;
}
.table-box .table-footer .tfoot-wrap {
  padding: 10px 20px;
}
.table-box .table-footer .tpl-pagination {
  margin: 0;
}
.table-box .table-footer .date-number-text {
  line-height: 31px;
  color: #a9aeb9;
}
.table-box .table-footer .date-number-text em {
  color: #003472;
  font-size: 1.4em;
  font-style: normal;
}

.table-normal {
  font-size: 14px;
  border: 1px solid #c0cede;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
.table-normal td, .table-normal th {
  font-weight: normal;
  padding: 8px 8px;
  border: 1px solid #c0cede;
  color: #81858c;
  min-width: 60px;
}
.table-normal th {
  background-color: #f2f4f6;
}

.table-large {
  font-size: 16px;
  border: 1px solid #666;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
.table-large td, .table-large th {
  font-weight: normal;
  padding: 20px 8px;
  border: 1px solid #666;
  color: #333;
  min-width: 60px;
}
.table-large th {
  background-color: #fff;
  font-weight: bold;
}

/* 角色 */
.info-wrap-role {
  padding: 30px 10px;
  *zoom: 1;
}
.info-wrap-role:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.info-wrap-role .role-box {
  width: 18%;
  margin: 0px 1%;
  float: left;
}
.info-wrap-role .role-box label {
  border: 2px solid #e5e5e5;
  display: block;
  height: 40px;
  line-height: 36px;
  font-size: 16px;
  padding-left: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.info-wrap-role .role-box label i.iconfont {
  margin-right: 6px;
  font-size: 16px;
  color: #838FA1;
}
.info-wrap-role .role-box label:hover {
  border-color: #003472;
  color: #003472;
}
.info-wrap-role .role-box label:hover i.iconfont {
  color: #003472;
}
.info-wrap-role .role-box label.active-label {
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  border-color: #003472;
  color: #003472;
}
.info-wrap-role .role-box label.active-label i.checked {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  background: url('../images/role-checked.png?1468482224');
}
.info-wrap-role .role-box label.active-label i.iconfont {
  color: #003472;
}
.info-wrap-role .role-box input {
  width: 0;
  height: 0;
}

.step-wrap {
  padding: 20px 0;
  margin: 0 auto 15px;
}
.step-wrap .step-bar:last-of-type {
  border-radius: 0 5px 5px 0;
}
.step-wrap .step-bar:first-of-type {
  border-radius: 5px 0 0 5px;
}
.step-wrap .step-text {
  color: #acacac;
  font-size: 14px;
  display: block;
  margin-top: -10px;
}
.step-wrap .step-bar {
  width: 16.6666666%;
  background-color: #f0f0f0;
  position: relative;
  height: 10px;
  float: left;
  display: inline-block;
  text-align: center;
  color: #aaa;
}
.step-wrap .step-point {
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  top: -10px;
  font-size: 14px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f0f0f0;
  color: #aaa;
}
.step-wrap .step-bar.complate {
  background-color: #7e88ab;
}
.step-wrap .step-bar.complate .step-point {
  color: #fff;
  background-color: #7e88ab;
}
.step-wrap .step-bar.complate .step-text {
  color: #7e88ab;
}
.step-wrap .step-bar.active {
  background-color: #7e88ab;
}
.step-wrap .step-bar.active .step-point {
  width: 40px;
  height: 40px;
  top: -15px;
  line-height: 40px;
  color: #fff;
  background-color: #ffa153;
}
.step-wrap .step-bar.active .step-text {
  color: #ffa153;
}

.am-popup-inner {
  padding-top: 55px;
}

.am-popup {
  border-radius: 4px;
}

.am-popup-hd {
  border-bottom: 1px solid #dedede;
  height: 55px;
  border-top: 4px solid #003472;
  background-color: #fff;
}
.am-popup-hd .am-popup-title {
  text-align: left;
  font-weight: normal;
  color: #003472;
  line-height: 55px;
}
.am-popup-hd .am-close {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  color: #003472;
  width: 51px;
  height: 51px;
  line-height: 51px;
  box-shadow: none;
  font-size: 28px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
}
.am-popup-hd .am-close:hover {
  background-color: #f0f0f0;
}

.am-popup-bd {
  *zoom: 1;
  background-color: #fff;
  padding: 0;
}
.am-popup-bd:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.am-popup-bd .am-selected {
  width: 100%;
}
.am-popup-bd label {
  margin-bottom: 0;
  cursor: pointer;
}

.pop-body {
  padding: 15px 10px;
  overflow: auto;
}

.pop-footer {
  height: 50px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #003472;
  background-color: rgba(40, 57, 115, 0.75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #b5b5b5;
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #003472;
  background-color: rgba(40, 57, 115, 0.9);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

.light-theme.mCustomScrollbar .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
.light-theme.mCustomScrollbar .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #e4e8ff;
  background-color: rgba(228, 232, 255, 0.4);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.updata-log-wrap dl {
  padding: 0 0;
}
.updata-log-wrap dt {
  font-size: 16px;
  color: #333;
  margin-top: 25px;
}
.updata-log-wrap dd {
  font-size: 14px;
  color: #666;
}

@media screen and (min-width: 1441px) {
  .grid-wrap .grid-lg4-md6 {
    width: 32%;
    margin-right: 2%;
    float: left;
  }
  .grid-wrap .grid-lg4-md6:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1440px) {
  .grid-wrap .grid-lg4-md6 {
    width: 49%;
    margin-right: 2%;
    float: left;
  }
  .grid-wrap .grid-lg4-md6:nth-child(2n) {
    margin-right: 0;
  }
}
.help-header {
  background: #fff;
  height: 60px;
  padding: 0 25px;
  transition: all 0.4s ease-in-out;
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}
.help-header h1 {
  line-height: 58px;
  color: #003472;
  font-weight: normal;
}
.help-header .service-telephone {
  font-size: 20px;
  line-height: 60px;
  color: #000;
}

.help-center, .user-center {
  margin: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  position: relative;
  background-color: #f7f7f7;
}
.help-center .left, .user-center .left {
  float: left;
  width: 200px;
  position: relative;
  height: 100%;
}
.help-center .left h2, .user-center .left h2 {
  font-size: 20px;
  color: #003472;
  text-align: center;
  line-height: 50px;
}
.help-center .left .list li, .user-center .left .list li {
  border-bottom: 1px solid #e4e4e4;
  height: 59px;
}
.help-center .left .list li a, .user-center .left .list li a {
  color: #666;
  font: normal 16px/60px "Microsoft YaHei";
  display: block;
  padding-left: 20px;
  position: relative;
}
.help-center .left .list li a i, .user-center .left .list li a i {
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: 2px;
  margin-right: 10px;
  background-color: #919191;
}
.help-center .left .list li a.active, .user-center .left .list li a.active {
  color: #003472;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  right: -1px;
  font-weight: bold;
  border-right: 1px solid #fff;
}
.help-center .left .list li a.active i, .user-center .left .list li a.active i {
  background-color: #003472;
}
.help-center .right, .user-center .right {
  margin-left: 200px;
  padding: 0 20px 0;
  background: #fff;
  border-left: 1px solid #e4e4e4;
}
.help-center .right h2, .user-center .right h2 {
  font: normal 24px "Microsoft YaHei";
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.help-center .right .text, .user-center .right .text {
  font: normal 16px/25px "Microsoft YaHei";
  color: #666666;
}
.help-center .right .text p, .user-center .right .text p {
  padding-bottom: 10px;
  margin: 0;
}
.help-center .right .text img, .user-center .right .text img {
  max-width: 900px;
  border: 1px solid #ccc;
  margin: 30px 0;
  display: block;
}
.help-center .right .text strong, .user-center .right .text strong {
  font-weight: bold;
  font-size: 22px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 60px;
  display: block;
}
.help-center .right .content-wrap, .user-center .right .content-wrap {
  display: none;
}
.help-center .right .content-wrap.active, .user-center .right .content-wrap.active {
  display: block;
}

.hourglass-wrap {
  text-align: center;
  padding-top: 15px;
  color: #fff;
}
.hourglass-wrap p {
  text-align: center;
  font-size: 16px;
}

#CountDown {
  font-size: 18px;
}
#CountDown b {
  color: orange;
}

.no-vertical-border {
  border-right: none !important;
  border-top: none !important;
  border-bottom: none;
}
.no-vertical-border tbody tr:last-child td, .no-vertical-border tbody tr:last-child th {
  border-bottom: none !important;
}
.no-vertical-border td, .no-vertical-border th {
  border-left: none !important;
  border-right: none !important;
}

.widget-title-mini {
  color: #003472;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 15px;
  text-indent: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.chart-room-wrap, .sign-in-wrap {
  margin: 0;
}
.chart-room-wrap li, .sign-in-wrap li {
  margin: 15px 0;
  font-size: 14px;
}
.chart-room-wrap li span, .sign-in-wrap li span {
  color: #54a7fe;
}

.chart-room-wrap {
  padding: 10px;
}
.chart-room-wrap dl {
  padding: 6px;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  margin-top: 4px;
  font-size: 14px;
}
.chart-room-wrap p {
  margin-top: 6px;
  margin-bottom: 6px;
}
.chart-room-wrap .chart-time {
  font-size: 12px;
}
.chart-room-wrap .chart-time i {
  font-size: 14px;
}
.chart-room-wrap .reply-wrap {
  display: none;
}

.chart-send-wrap {
  background-color: #fff;
  padding: 10px 10px;
}

.room-pick-table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
  background-color: #fff;
}
.room-pick-table td, .room-pick-table th {
  padding: 20px 15px;
  text-align: center;
  border: 1px solid #e3e8f1;
}
.room-pick-table thead th {
  font-size: 16px;
  font-weight: normal;
  background-color: #ebeef3;
  color: #687c9c;
}
.room-pick-table tbody th {
  font-size: 16px;
  font-weight: bold;
  color: #1a67ce;
  width: 100px;
  vertical-align: middle;
}
.room-pick-table tbody td {
  padding: 20px 15px;
}

.vacation-day {
  background: url('../images/holiday.png') no-repeat center;
}

.room-pick-box a {
  display: block;
  overflow: hidden;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  background-color: #52ca88;
  color: #fff;
  margin-bottom: 12px;
}
.room-pick-box a:hover {
  background-color: #249e5f;
  color: #fff;
  -moz-box-shadow: 0 0 8px rgba(36, 158, 95, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(36, 158, 95, 0.5);
  box-shadow: 0 0 8px rgba(36, 158, 95, 0.5);
}
.room-pick-box a.time-take-up {
  background-color: transparent;
  color: #9c9c9c;
  border: none;
  cursor: not-allowed;
}
.room-pick-box a.my-reservation {
  background-color: #ff8c49;
  color: #fff;
  border: none;
  cursor: not-allowed;
}

.weeks-pick-wrap {
  float: right;
  height: 30px;
}
.weeks-pick-wrap span {
  font-size: 16px;
  color: #0F62C8;
  font-weight: bold;
  line-height: 24px;
  padding: 0 20px;
  vertical-align: middle;
}
.weeks-pick-wrap a {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #0F62C8;
  margin: 0 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
}
.weeks-pick-wrap a:hover {
  color: #fff;
  background-color: #0F62C8;
}

.laiyuan-wrap input {
  display: none;
}
.laiyuan-wrap label {
  display: block;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 15px 0;
}
.laiyuan-wrap label span {
  font-size: 16px;
  padding-top: 8px;
  display: block;
}
.laiyuan-wrap input:checked + label {
  border: 1px solid #003472;
  background-color: #e9eeff;
}

.points-level-low, .points-level-height, .points-level-middle {
  padding-left: 15px;
  border-left: 5px solid;
}

.points-level-height {
  border-color: #249e5f;
}

.points-level-middle {
  border-color: #00aaee;
}

.points-level-low {
  border-color: #ff5500;
}

#leftMenuBox {
  padding-bottom: 50px;
}

.left-sidebar .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.footer {
  text-align: center;
  line-height: 30px;
  height: 30px;
  background-color: #003472;
  color: #fff;
  z-index: 2;
  font-size: 12px;
  position: relative;
}

.system-welcome-wrap {
  background: url('../images/welcome.jpg?1509934260') no-repeat;
  width: 779px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -390px;
  margin-top: -180px;
  text-align: center;
}
.system-welcome-wrap span {
  font-size: 28px;
  color: #838FA1;
  margin-top: 100px;
  display: block;
}
.system-welcome-wrap h1 {
  font-size: 30px;
  line-height: 50px;
  color: #003472;
  margin-top: 10px;
}

.page-tabs-controler-wrap {
  *zoom: 1;
  padding: 0 20px;
  margin: 10px 0 0;
  border-bottom: 2px solid #003472;
  display: table;
  width: 100%;
}
.page-tabs-controler-wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.page-tabs-controler-wrap ul {
  display: table-row;
  padding: 10px;
}
.page-tabs-controler-wrap li {
  display: table-cell;
  padding-right: 4px;
  vertical-align: bottom;
  position: relative;
}
.page-tabs-controler-wrap li.tab-warning {
  background-color: #fff;
}
.page-tabs-controler-wrap li .page-tabs-icon {
  position: absolute;
  color: red;
  top: -9px;
  right: 2px;
  z-index: 99;
  font-size: 18px;
}
.page-tabs-controler-wrap a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
  line-height: 20px;
  word-break: break-all;
  text-align: center;
  height: 100%;
}
.page-tabs-controler-wrap a:hover {
  background-color: #f0f0f0;
}
.page-tabs-controler-wrap li.active a {
  background-color: #003472;
  color: #fff;
  border-color: #003472;
}

.pop-large {
  width: 70%;
  height: 80%;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.pb-video-wrap {
  margin: 20px 0;
  text-align: center;
}
.pb-video-wrap .pb-video-item {
  text-align: center;
  width: 250px;
  margin-bottom: 20px;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
}
.pb-video-wrap .pb-video-item:hover {
  -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.pb-video-wrap .pb-video-item a {
  display: inline-block;
}
.pb-video-wrap .pb-video-item a img {
  width: 240px;
  height: 180px;
  display: block;
}
.pb-video-wrap .pb-video-item span {
  font-size: 12px;
}

.porject-name {
  padding: 20px 20px 0;
  font-size: 24px;
  font-weight: normal;
  color: #003472;
  margin-bottom: 20px;
  float: left;
}

.file-wrap {
  padding: 1em;
  border-top: 1px solid #f0f0f0;
  margin-top: 2em;
}

/*.sub-tabs-wrap{
    margin-bottom: 20px;
    li{
        float: left;
        margin-right: 5px;
        height: 36px;
        a{
            padding:6px 10px;
            font-size: 14px;
            line-height: 24px;
            height: 24px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 30px;
            color: #666;
        }
        &.active a{
            background-color: $main-color;
            border: none;
            color: #fff;
        }
    }
}*/
.sub-tabs-wrap {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
}
.sub-tabs-wrap li {
  float: left;
  height: 36px;
  width: 20%;
}
.sub-tabs-wrap li a {
  padding: 6px 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  display: block;
  border-radius: 3px;
  color: #666;
  background-color: #f0f0f0;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sub-tabs-wrap li a:hover {
  background-color: #d5d6d8;
}
.sub-tabs-wrap li.active a {
  background-color: #003472;
  border: none;
  color: #fff;
}

@media screen and (min-width: 1440px) {
  .sub-tabs-wrap li {
    width: 16.66%;
  }
}
.no-content-wrap {
  text-align: center;
  padding-top: 100px;
}
.no-content-wrap .no-content-wrap {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.no-content-wrap a {
  display: inline-block;
}

.content-head {
  *zoom: 1;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
}
.content-head:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.page-nav-btn {
  padding: 15px;
}
.page-nav-btn li {
  width: 31.3%;
  margin: 1% 1%;
  float: left;
}
.page-nav-btn a {
  padding: 15px 0 8px;
  display: block;
  color: #fff;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  background-color: #003472;
  border-radius: 5px;
  height: 40px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.page-nav-btn a:hover {
  background-color: #004ba5;
}

.menu-level-2 {
  padding-left: 40px !important;
}

.confirm-list {
  clear: both;
  padding-left: 26px;
  padding-top: 10px;
}
.confirm-list li {
  font-size: 13px;
  color: #919294;
}
.confirm-list li i {
  font-size: 16px;
}

.greatMany {
  padding: 5px 0;
}

.am-popup-bd, .tpl-form-border-form {
  height: 100%;
}
.am-popup-bd form, .tpl-form-border-form form {
  height: 100%;
  position: relative;
}
.am-popup-bd form .pop-body, .tpl-form-border-form form .pop-body {
  height: 100%;
  padding-bottom: 60px;
}
.am-popup-bd form .pop-footer, .tpl-form-border-form form .pop-footer {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.XMDetail {
  font-size: 14px;
  line-height: 23px;
}

.am-popup {
  width: 630px;
  height: 80%;
  left: 50%;
  top: 10%;
  margin-left: -315px;
}

@media (min-height: 630px) and (min-width: 630px) {
  .am-popup {
    width: 630px;
    height: 630px;
    left: 50%;
    top: 50%;
    margin-left: -315px;
    margin-top: -315px;
  }
}
#check {
  width: 90%;
  height: 90%;
  top: 0px;
  left: 0;
  margin-top: 2.5%;
  margin-left: 5%;
}

.xiaoxiCon {
  width: 90%;
  height: 90%;
  top: 0px;
  left: 0;
  margin-top: 2.5%;
  margin-left: 5%;
}

.table-normal input {
  height: 40px;
  border: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
}
.table-normal .am-selected {
  width: 120px;
}
.table-normal .half-select .am-selected {
  width: 240px;
}
.table-normal .all-select .am-selected {
  width: 245px;
}
.table-normal .radio-td label {
  font-size: 1.4rem;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  color: #444;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  padding-left: 18px;
}
.table-normal .radio-td label input {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -7px;
}
.table-normal .checkbox-td label {
  font-size: 1.4rem;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  color: #444;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  padding-left: 18px;
}
.table-normal .checkbox-td label input {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -7px;
}

/*# sourceMappingURL=app.css.map */
