@charset "UTF-8";
@import "compass", "compass/css3", "compass/utilities", "compass/support";
@import "variable";

body {
    background: image_url("body-bg.gif") #e9ecf3;
    line-height: inherit;
    position: relative;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {

}

.clearfix {
    @include legacy-pie-clearfix();
}

.bc-white {
    background-color: #fff;
}

input {

}

.hover-shadow {
    @include transition(all .5s);
    &:hover {
        @include box-shadow(1px 1px 6px 4px rgba(40, 57, 115, 0.1));
    }
}

.am-btn-main {
    background-color: $main-color;
    color: #fff !important;
    border: none;
    //margin-right: 4px;
    border-radius: 3px;
    vertical-align: middle;
    &:hover {
        color: #fff;
        text-decoration: none !important;
        background-color: lighten($main-color, 15%);
    }
}

.btn-border {
    border: 1px solid #bbb;
    color: #5e5e5e;
    background-color: #fff;
    margin-right: 4px;
    padding: 3px 10px;
    border-radius: 3px;
    &:hover {
        border-color: $main-color;
        color: $main-color;
        text-decoration: none !important;
    }
    &.btn-blue {
        border-color: #b1bdd5;
        color: $main-color;
        &:hover {
            border-color: $main-color;
            color: $main-color;
            text-decoration: none !important;
        }
    }
    .iconfont {
        margin-right: 2px;
        vertical-align: -1px;
    }
}
.btn-golist{
    margin-right: 15px;
    margin-top: 25px;
}
.border-widget {
    border: #e4e7ec 1px solid;
}

.am-btn {
    padding-top: .4em;
    padding-bottom: .4em;
}

//全局变量
$header-height: 70px;

.header {
    $color: #fff;
    $header-bg: #ffffff;
    $navBtn-height: 30px;
    background: image_url('header-bg2.png') #fff no-repeat right bottom;
    z-index: 1103;
    padding-left: 0;
    position: fixed;
    width: 100%;
    transition: all 0.4s ease-in-out;
    //border-bottom: 2px solid $main-color;
    @include box-shadow(3px 3px 4px rgba(0, 0, 0, .1));
    &.system-header{
        background: image_url('header-bg.jpg') #fff no-repeat right bottom;
        a,.tpl-header-logo .top-title{
            color: $main-color;
        }
    }
    &.active {
        padding-left: 0px;
    }
    .tpl-header-navbar {
        li {
            float: left;
            margin-top: ($header-height - $navBtn-height)/2;
            &.am-active .am-dropdown-toggle {
                background-color: $header-bg;
            }

        }
        a {
            line-height: $navBtn-height;
            display: block;
            padding: 1px 16px;
            position: relative;
            font-size: 14px;
            color: #fff;
            .iconfont {
                font-size: 16px;
                vertical-align: 0;
            }
            &:hover {
                padding: 0 15px;
                background-color: rgba(255, 255, 255, .3);
                border-radius: 4px;
                border: 1px solid $main-color;
            }
            .item-feed-badge {
                position: absolute;
                top: 9px;
                left: 28px;
            }
        }
    }
    .tpl-header-logo {
        width: 400px;
        padding-left: 20px;
        height: $header-height;
        @include text-shadow(2px 2px 4px rgba(0, 0, 0, .2));
        display: table;
        position: relative;
        //z-index: 1300;
        .header-logo {
            width: 42px;
            height: 35px;
            margin-top: 20px;
            background: image_url("logo.png") no-repeat;
        }
        .header-logo-system-jiankong{
            background: image_url("header-logo-system-jiankong.png");
        }
        .top-title {
            font-weight: bold;
            font-size: 28px;
            padding-left: 20px;
            line-height: $header-height;
            color: $color;
            margin-top: -2px;
            margin-bottom: 0;
        }

        a {
            display: table-cell;
            vertical-align: middle;
        }

        img {
            height: 48px;
            width: auto;
        }
    }

    .tpl-header-fluid {
        height: $header-height;
        padding-left: 20px;
        padding-right: 20px;
    }

    ul.am-dropdown-content.tpl-dropdown-content {
        margin-top: 10px;
        &:before, &:after {
            content: "";
            display: block;
        }
    }

    .tpl-header-switch-button {
        margin: 0 0 0 -20px;
        float: left;
        color: #cfcfcf;
        border: 0;
        border-radius: 0;
        padding: 0 22px;
        font-size: 22px;
        line-height: 55px;
        &:hover {
            color: #999;
            outline: none;
        }
    }

    .tpl-header-search-form {
        height: $header-height;
        line-height: $header-height - 2;
        margin-left: 10px;
        margin-right: 30px;

    }

    .tpl-header-search-box {
        @include transition(all, .5s);
        outline: none;
        font-size: 14px;
        padding: 4px 4px 4px 10px;
        border: 1px solid #f0f0f0;
        border-radius: 15px;
        width: 160px;
        &:focus {
            width: 280px;
            background-color: rgba(255, 255, 255, .9);
            border: 0;
        }
    }
    .tpl-header-search-btn {
        border: none;
        background: none;
        font-size: 15px;
        color: $color;
        &:hover, &:active {
            color: #fff;
        }
    }

    //下拉子菜单
    .dropdown-subnav li {
        display: block;
        width: 100%;
        margin: 0;
        a {
            line-height: 36px;
            display: block;
            padding: 0 10px;
            position: relative;
            font-size: 14px;
            color: #929DB4;
            &:hover {
                color: $main-color;
                background-color: #f0f0f0;
                border: none;
            }
        }
    }
}

ul.tpl-dropdown-content {
    padding: 10px;
    margin-top: 0;
    width: 300px;
    background-color: #2f3638;
    border: 1px solid #525e62;
    border-radius: 0;
    @include box-shadow(3px 4px 3px rgba(0, 0, 0, .2));
    li {
        float: none;
    }

    &:before, &:after {
        display: none;
    }
}

ul.tpl-dropdown-content {

    .tpl-dropdown-menu-notifications {

    }

    .tpl-dropdown-menu-notifications-title {
        font-size: 12px;
        float: left;
        color: rgba(255, 255, 255, 0.7);
    }

    .tpl-dropdown-menu-notifications-time {
        float: right;
        text-align: right;
        color: rgba(255, 255, 255, 0.7);
        font-size: 11px;
        width: 50px;
        margin-left: 10px;
    }

    .tpl-dropdown-menu-notifications:last-child .tpl-dropdown-menu-notifications-item {
        text-align: center;
        border: none;
        font-size: 12px;
        i {
            margin-left: -6px;
        }
    }

    .tpl-dropdown-menu-messages:last-child .tpl-dropdown-menu-messages-item {
        text-align: center;
        border: none;
        font-size: 12px;
        i {
            margin-left: -6px;
        }
    }
    .tpl-dropdown-menu-notifications-item, .tpl-dropdown-menu-messages-item {
        padding: 12px;
        color: #fff;
        line-height: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        &:hover, &:focus {
            background-color: #465154;
            color: #fff;
        }

        .menu-messages-ico {
            line-height: initial;
            float: left;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 6px;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                vertical-align: middle;
            }
        }

        .menu-messages-time {
            float: right;
            text-align: right;
            color: rgba(255, 255, 255, 0.7);
            font-size: 11px;
            width: 40px;
            margin-left: 10px;

        }

        .menu-messages-content {
            display: block;
            font-size: 13px;
            margin-left: 45px;
            margin-right: 50px;

            .menu-messages-content-title {

            }

            .menu-messages-content-time {
                margin-top: 3px;
                color: rgba(255, 255, 255, 0.7);
                font-size: 11px;
            }
        }

    }
}

.am-dimmer {
    z-index: 1200;
}

.am-modal, .am-popup {
    z-index: 1300;
}

.am-selected {
    width: auto;
    min-width: 150px;
}

legend {
    margin-bottom: 15px;
}

#advanced_search .am-form-group {
    margin-bottom: 10px !important;
}

.am-datepicker-dropdown {
    z-index: 1400;
}

.tpl-skiner {
    transition: all 0.4s ease-in-out;
    position: fixed;
    z-index: 10000;
    right: -130px;
    top: 65px;
}

.tpl-skiner.active {
    right: 0px;
}

.tpl-skiner-content {
    background: rgba(0, 0, 0, 0.7);
    width: 130px;
    padding: 15px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
}

.fc-content .am-icon-close {
    position: absolute;
    right: 0;
    top: 0px;
}

.tpl-skiner-toggle {
    position: absolute;
    top: 5px;
    left: -40px;
    width: 40px;
    color: #969a9b;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.tpl-user-panel-profile-picture {
    span {
        display: block;
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
        border-radius: 50%;
        i {
            color: #fff;
            font-size: 38px;
            line-height: 80px;
        }
    }
}

.tpl-skiner-content-title {
    margin: 0;
    margin-bottom: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tpl-skiner-content-bar {
    padding-top: 10px;
    .skiner-color {
        transition: all 0.4s ease-in-out;
        float: left;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        cursor: pointer;
    }
    .skiner-white {
        background: #fff;
        border: 2px solid #eee;
    }

    .skiner-black {
        background: #000;
        border: 2px solid #222;
    }
}

.sub-active {
    color: #fff !important;
}

//左栏
.left-sidebar {
    $bg-color: #222d32;
    transition: all 0.4s ease-in-out;
    width: 240px;
    padding-top: 0;
    position: absolute;
    //z-index: 1104;
    background-color: $bg-color;
    top: $header-height;
    left: 0px;
    &.xs-active {
        left: 0px;
    }
    &.active {
        left: -240px;
    }

    // 用户信息面板
    .tpl-sidebar-user-panel {
        padding: 33px 28px 33px 22px;
        background-color: #1a2226;
        .tpl-user-panel-profile-picture {
            float: left;
            i {
                color: #48555c;
                font-size: 34px;
                margin-right: 10px;
                line-height: inherit;
            }
        }

        .tpl-user-panel-status-icon {
            margin-right: 2px;
        }

        .user-panel-logged-in-text {
            display: block;
            color: #fff;
        }
        .user-panel-logged-in-text.orginzer {
            color: #8e9595;
        }

        .tpl-user-panel-action-link {
            color: #6d787c;
            font-size: 12px;
            &:hover {
                color: #a2aaad;
            }
        }
    }

    //菜单
    .sidebar-nav-link {
        color: #fff;
        a {
            display: block;
            color: #b7bfbf;
            padding: 10px 17px;
            font-size: 14px;
            cursor: pointer;
            .iconfont {
                font-size: 16px;
                vertical-align: -3px;
            }
            &.active {
                background: darken($bg-color, 2%);
                color: #fff;
                border-left: #3bb4f2 3px solid;
                & + ul {
                    background-color: lighten($bg-color, 3%);;
                }
            }

            &:hover {
                background: lighten($bg-color, 10%);
                color: #fff;
            }
        }
        .sidebar-nav-sub {
            .sidebar-nav-link a {
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
        .am-icon-angle-right.sidebar-nav-link-logo {
            &:before {
                font-family: "iconfont" !important;
                content: '\e602' !important;
            }
        }
        .sub-active {
            .am-icon-angle-right.sidebar-nav-link-logo {
                font-size: 20px;
                vertical-align: -3px;
                &:before {
                    content: '\e61f' !important;
                }
            }
        }

    }

    //子菜单
    .active {
        .sidebar-nav-sub {
            display: block;
        }
    }
    .sidebar-nav-sub {
        display: none;
        .sidebar-nav-link {
            font-size: 12px;
            padding-left: 30px;
            a {
                font-size: 12px;
                padding-left: 0;
            }
        }

        .sidebar-nav-link-logo {
            margin-right: 4px;
            width: 16px;
            font-size: 16px;
        }
    }

}

.tpl-user-panel-slide-toggleable {

}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav-sub-ico-rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.sidebar-nav-link-logo-ico {
    margin-top: 5px;
}

.sidebar-nav-heading {
    padding: 24px 17px;
    font-size: 15px;
    font-weight: 500;
}

.sidebar-nav-heading-info {
    font-size: 12px;
    color: #868E8E;
    padding-left: 10px;
}

.sidebar-nav-link-logo {
    margin-right: 8px;
    width: 20px;
    font-size: 16px;
}

.tpl-content-wrapper {
    transition: all 0.4s ease-in-out;
    position: relative;
    margin-left: 240px;
    padding-top: $header-height;
    //z-index: 1101;
    border-bottom-left-radius: 3px;
    &.xs-active {
        margin-left: 240px;
    }
    &.active {
        margin-left: 0;
    }
}

//右下浮动
.block-sidebar {
    $itemHeight: 50px;
    position: fixed;
    display: none;
    width: 60px;
    bottom: 80px;
    right: 10px;
    z-index:999;
    a {
        display: block;
        width: $itemHeight;
        height: $itemHeight;
        border-radius: 50%;
        border: 1px solid #b1bdd5;
        text-align: center;
        background-color: #929db4;
        @include opacity(0.5);
        &:hover {
            @include opacity(1);
        }
        i {
            font-size: 30px;
            color: #fff;
            line-height: $itemHeight - 2;
        }
    }
}

.page-header {
    background: #424b4f;
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px 0;
    border-bottom: 0;
}

.container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 20px 10px;
    border-bottom: 0;
    .menu-toggle {
        font-size: 18px;
        color: $main-color;
        margin-right: 10px;
        vertical-align: -1px;
    }
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.page-header-description {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 14px;
    color: #e6e6e6;
}

.page-header-heading {
    font-size: 14px;
    color: #666;
    .page-header-heading-ico {
        font-size: 28px;
        position: relative;
        top: 3px;
    }
    /*.menu-toggle{
        @include transition(all 0.5s);
        &.active{
            @include transform(rotate(180deg));
        }
    }*/
    small {
        font-weight: normal;
        line-height: 1;
        color: #B3B3B3;
    }
}

.page-header-button {
    transition: all 0.4s ease-in-out;
    float: right;
    outline: none;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);

    &:hover {
        background-color: #ffffff;
        color: #333;
        opacity: 1;
    }
}

.widget {
    width: 100%;
    //min-height: 148px;
    margin-bottom: 20px;
    border-radius: 0;
    position: relative;
    //@include transition(all .5s);
    &:hover {
        //@include box-shadow(1px 1px 15px rgba(0, 0, 0, .4));
    }
    .widget-head {
        width: 100%;
        padding: 15px;
    }

    .widget-title {
        font-size: 16px;
        small {
            font-size: 12px;
            padding-left: 15px;
        }
    }

    .widget-function {

    }

    .widget-fluctuation-period-text {
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 9px;
    }

    .widget-body {
        padding: 13px 4px;
        width: 100%;
    }

    .widget-fluctuation-description-text {
        margin-top: 4px;
        display: block;
        font-size: 12px;
        line-height: 13px;
    }

    .text-success {

    }

    .widget-fluctuation-tpl-btn {

    }

    .widget-fluctuation-description-amount {
        display: block;
        font-size: 20px;
        line-height: 22px;
    }

    .widget-statistic-header {
        position: relative;
        z-index: 35;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .widget-body-md {
        height: 200px;
    }

    .widget-body-lg {
        min-height: 330px;
        // height: 330px;
    }

    .widget-margin-bottom-lg {
        margin-bottom: 20px;
    }
}

.row-content {
    padding: 20px;
}

.tpl-table-black-operation {

}

.tpl-table-black-operation {
    a {
        display: inline-block;
        padding: 5px 6px;
        font-size: 12px;
        line-height: 12px;
    }
}

.tpl-switch input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 20px;
}

.tpl-switch input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;
    height: 20px;

    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;

    margin-top: 6px;
}

.tpl-switch input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #36c6d3;

}

.tpl-switch input[type="checkbox"].tinyswitch.ios-switch + div {
    width: 34px;
    height: 18px;
}

.tpl-switch input[type="checkbox"].bigswitch.ios-switch + div {
    width: 50px;
    height: 25px;
}

.tpl-switch input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #00e359;
    border: 1px solid rgba(0, 162, 63, 1);
    box-shadow: inset 0 0 0 10px rgba(0, 227, 89, 1);
}

.tpl-switch input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;

    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

.tpl-switch input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;

}

.tpl-switch input[type="checkbox"].tinyswitch.ios-switch + div > div {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

.tpl-switch input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(16px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}

.tpl-switch input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 23px;
    height: 23px;
    margin-top: 1px;
}

.tpl-switch input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);

}

.tpl-switch input[type="checkbox"].green.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
}

.tpl-page-state {
    width: 100%;
}

.tpl-page-state-title {
    font-size: 40px;
    font-weight: bold;
}

.tpl-page-state-content {
    padding: 10px 0;
}

.tpl-login {
    width: 100%;
}

.tpl-login-logo {
    max-width: 300px;
    height: 205px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login-body {
    background: image_url('login-bg.jpg') no-repeat;
    @include background-size(100% 100%)
}

.tpl-login-title {
    width: 100%;
    font-size: 24px;

}

.tpl-login-content {
    width: 300px;
    margin: 12% auto 0;
}

.tpl-login-remember-me {
    color: #B3B3B3;
    font-size: 14px;

    label {
        position: relative;
        top: -2px;
    }
}

.tpl-login-content-info {
    color: #B3B3B3;
    font-size: 14px;
}

.cl-p {
    padding: 0 !important;
}

.tpl-table-line-img {
    max-width: 100px;
    padding: 2px;
}

.tpl-table-list-select {
    text-align: right;
}

.fc-button-group, .fc button {
    display: block;
}

.sidebar-nav-sub {
    .sidebar-nav-link-logo {
        margin-left: 10px;
    }
}

.tpl-header-search-box:hover, .tpl-header-search-box:active .tpl-error-title {

    color: #848c90;
}

.tpl-error-title-info {
    line-height: 30px;
    font-size: 21px;
    margin-top: 20px;
    text-align: center;
    color: #dce2ec;
}

.tpl-error-btn {
    background: #03a9f3;
    border: 1px solid #03a9f3;
    border-radius: 30px;
    padding: 6px 20px 8px;
}

.tpl-error-content {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    color: #96a2b4;
}

.tpl-calendar-box {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    .fc-event {
        border-radius: 0;
        background: #03a9f3;
        border: 1px solid #14b0f6;
    }
    .fc-axis {
        color: #868E8E;
    }
    .fc-unthemed .fc-today {
        background: #eee;
    }
    .fc-more {
        color: #868E8E;
    }

    .fc th.fc-widget-header {
        background: #32c5d2 !important;

        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
        padding: 7px 0px;
        text-transform: uppercase;
        border: none !important;
        a {
            color: #fff;
        }
    }

    .fc-center {
        h2 {
            color: #868E8E;
        }
    }
    .fc-state-default {
        background-image: none;
        background: #fff;
        font-size: 14px;
        color: #868E8E;
    }
    .fc th, .fc td, .fc hr, .fc thead, .fc tbody, .fc-row {
        // background: rgba(0, 0, 0, 0)!important;
        border-color: #eee !important;
    }
    .fc-day-number {
        color: #868E8E;
        padding-right: 6px;
    }
    .fc th {
        color: #868E8E;
        font-weight: normal;
        font-size: 14px;
        padding: 6px 0;
    }
}

.tpl-login-logo {
    background: url(../img/logoa.png) center no-repeat;

}

.sub-active {

    color: #23abf0 !important;
}

.tpl-table-line-img {
    border: 1px solid #ddd;
}

.tpl-pagination {
    .am-disabled a, li a {
        color: $main-color;
        font-size: 14px;
        border-radius: 3px;
        padding: 4px 9px;
    }
    .am-active a {
        background: $main-color;
        color: #fff;
        border: 1px solid $main-color;

    }
}

.tpl-login-btn {
    background-color: #32c5d2;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 14px;
    outline: none;

    &:hover, &:active {
        background: #22b2e1;
        color: #fff;
    }

}

.tpl-login-title {
    color: #697882;
    strong {
        color: #39bae4;
    }
}

.tpl-login-content {
    width: 500px;
    padding: 40px 40px 25px;
    background-color: #fff;
    border-radius: 4px;
}

.tpl-form-line-form, .tpl-form-border-form {
    padding-top: 20px;
}

.tpl-form-border-form input[type=number]:focus, .tpl-form-border-form input[type=search]:focus, .tpl-form-border-form input[type=text]:focus, .tpl-form-border-form input[type=password]:focus, .tpl-form-border-form input[type=datetime]:focus, .tpl-form-border-form input[type=datetime-local]:focus, .tpl-form-border-form input[type=date]:focus, .tpl-form-border-form input[type=month]:focus, .tpl-form-border-form input[type=time]:focus, .tpl-form-border-form input[type=week]:focus, .tpl-form-border-form input[type=email]:focus, .tpl-form-border-form input[type=url]:focus, .tpl-form-border-form input[type=tel]:focus, .tpl-form-border-form input[type=color]:focus, .tpl-form-border-form select:focus, .tpl-form-border-form textarea:focus, .am-form-field:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tpl-form-border-form .am-checkbox, .tpl-form-border-form .am-checkbox-inline, .tpl-form-border-form .am-form-label, .tpl-form-border-form .am-radio, .tpl-form-border-form .am-radio-inline {
    margin-top: 0;
    margin-bottom: 0;

}

.tpl-form-border-form .am-form-group:after {
    clear: both;
}

.tpl-form-border-form .am-form-group:after, .tpl-form-border-form .am-form-group:before {
    content: " ";
    display: table;

}

.tpl-form-border-form .am-form-label {
    padding-top: 5px;
    font-size: 16px;
    color: #888;
    font-weight: inherit;
    text-align: right;
}

.tpl-form-border-form .am-form-group {
    /*padding: 20px 0;*/

}

.tpl-form-border-form .am-form-label .tpl-form-line-small-title {
    color: #999;
    font-size: 12px;
}

.tpl-form-line-form input[type=number]:focus, .tpl-form-line-form input[type=search]:focus, .tpl-form-line-form input[type=text]:focus, .tpl-form-line-form input[type=password]:focus, .tpl-form-line-form input[type=datetime]:focus, .tpl-form-line-form input[type=datetime-local]:focus, .tpl-form-line-form input[type=date]:focus, .tpl-form-line-form input[type=month]:focus, .tpl-form-line-form input[type=time]:focus, .tpl-form-line-form input[type=week]:focus, .tpl-form-line-form input[type=email]:focus, .tpl-form-line-form input[type=url]:focus, .tpl-form-line-form input[type=tel]:focus, .tpl-form-line-form input[type=color]:focus, .tpl-form-line-form select:focus, .tpl-form-line-form textarea:focus, .am-form-field:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tpl-form-line-form .am-checkbox, .tpl-form-line-form .am-checkbox-inline, .tpl-form-line-form .am-form-label, .tpl-form-line-form .am-radio, .tpl-form-line-form .am-radio-inline {
    margin-top: 0;
    margin-bottom: 0;

}

.tpl-form-line-form .am-form-group:after {
    clear: both;
}

.tpl-form-line-form .am-form-group:after, .tpl-form-line-form .am-form-group:before {
    content: " ";
    display: table;

}

.tpl-form-line-form .am-form-label {
    padding-top: 5px;
    font-size: 16px;
    color: #888;
    font-weight: inherit;
    text-align: right;
}

.tpl-form-line-form .am-form-group {
    /*padding: 20px 0;*/

}

.tpl-form-line-form .am-form-label .tpl-form-line-small-title {
    color: #999;
    font-size: 12px;
}

.tpl-table-black-operation {
    a {
        border: 1px solid #36c6d3;
        color: #36c6d3;
        &:hover {
            background: #36c6d3;
            color: #fff;
        }
    }
    a.tpl-table-black-operation-del {
        border: 1px solid #e7505a;
        color: #e7505a;
        &:hover {
            background: #e7505a;
            color: #fff;
        }
    }
}

.tpl-amendment-echarts {
}

.tpl-user-card {
    border: 1px solid #3598dc;
    border-top: 2px solid #3598dc;
    background: #3598dc;
    color: #ffffff;
    border-radius: 4px;
}

.tpl-user-card-title {
    font-size: 26px;
    margin-top: 0;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 10px;
}

.achievement-subheading {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 15px;
}

.achievement-image {
    border-radius: 50%;
    margin-bottom: 22px;
}

.achievement-description {
    margin: 0;
    font-size: 12px;
}

.tpl-table-black {
    color: #838FA1;

    thead > tr > th {
        font-size: 14px;
        padding: 6px;
    }
    tbody > tr > td {
        font-size: 14px;
        padding: 7px 6px;

    }
    tfoot > tr > th {
        font-size: 14px;
        padding: 6px 0;
    }
}

.am-progress {
    height: 12px;
}

.am-progress-title {
    font-size: 14px;
    margin-bottom: 8px;
}

.am-progress-title-more {

}

.widget-fluctuation-tpl-btn {
    margin-top: 6px;
    display: block;
    color: #fff;
    font-size: 12px;
    padding: 8px 14px;
    outline: none;
    background-color: #e7505a;
    border: 1px solid #e7505a;
    &:hover {
        background: transparent;
        color: #e7505a;
    }

}

.widget-fluctuation-description-text {
    color: #c5cacd;
}

.widget-fluctuation-period-text {
    color: #838FA1;
}

.text-success {
    color: #5eb95e;
}

.widget-head {
    border-bottom: 1px solid #eef1f5;
}

.widget-function {
    a {
        color: #838FA1;
        &:hover {
            color: #a7bdcd;
        }
    }

}

.widget {
    padding: 15px 10px 18px;
    background-color: #fff;
    border-radius: 4px;
    color: #838FA1;
}

.widget-title {
    font-size: 16px;
}

.widget-yellow, .widget-primary, .widget-purple, .widget-white {
    min-height: 174px;
}



.page-header-button {
    opacity: .8;
    border: 1px solid #32c5d2;
    background: #32c5d2;
    color: #fff;
    &:hover {
        opacity: 1;
    }
}

.page-header-description {
    color: #666;
}

.am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field {
    padding: .4em;
    border-radius: 3px;
    &:focus {
        border-color: $main-color;
        vertical-align: middle;
    }
}

ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-content .menu-messages-content-time {
    color: #96a5aa;
}

ul.tpl-dropdown-content {
    background: #fff;
    border: 1px solid #ddd;
    .tpl-dropdown-menu-notifications-item, .tpl-dropdown-menu-messages-item {
        border-bottom: 1px solid #eee;
        color: #999;

        &:hover {
            background-color: #f5f5f5;
        }
        .tpl-dropdown-menu-notifications-time {
            color: #999;
        }
    }
    .tpl-dropdown-menu-messages-item:hover {
        background-color: #f5f5f5;
    }

    .tpl-dropdown-menu-notifications-title {
        color: #999;
    }

}

.sidebar-nav-heading {
    color: #999;
    border-bottom: 1px solid #eee;
}

.adSearch {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.lg-content {
    @include legacy-pie-clearfix();
    position: relative;
    border: 1px solid #ddd;
    padding: 20px 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    input.am-form-field,
    .am-selected,
    button.am-selected-btn {
        width: 100%;
    }
}

//权限分类
.jiaose {
    //padding-bottom: 10px;
    li {
        display: inline-block;
        //margin-bottom: 5px;
        margin-right: 10px;
        label {
            // width: 200px;
            min-width: 120px;
            padding-left: 5px;
            padding-right: 20px;
            height: 36px;
            font-size: 14px;
            line-height: 32px;
            cursor: pointer;
            display: block;
            text-align: left;
            font-weight: normal;

            border-radius: 4px;
            border: 2px solid #f0f0f0;
            &.checked {
                border-color: #1fb77e;
                color: #1fb77e;
                border-width: 2px;
            }
            input {
                font-weight: normal;
                margin-right: 8px;
            }
            &.af-click {
                background-color: rgba(25, 167, 240, 0.7);
                color: #fff;
            }
        }
        a:hover {
            background-color: rgba(25, 167, 240, 0.7);
            color: #fff;
        }
    }

}

.widget .adSearch {
    $borderColor: #adc9d9;
    $thColor: #0d83d3;
    $thBG1: #e7f3fa;
    $thBG2: #e7f3fa;
    table {
        white-space: nowrap;
        margin-bottom: 0px;
        border-color: $borderColor;
        thead + tbody > tr:first-child > td, thead + tbody > tr:first-child > th {
            border-top-color: $borderColor;
        }
        thead td {
            font-weight: normal;
            background-color: $thBG1;
            @include background(linear-gradient(top, $thBG1, $thBG2));
            color: $thColor;
            font-size: 14px;
            text-align: center;
            border-color: $borderColor;
        }
        td {
            text-align: left;
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;
            border-color: $borderColor;
        }
        input {
            padding-left: 5px;
            border: 1px solid $borderColor;
            border-radius: 3px;
            color: #fff;
        }
        .am-selected-btn {
            width: 160px;
            margin-left: 0px;
            padding-left: 10px;
        }
        .am-selected {
            width: auto;
        }
    }
}

.widget-color-green {
    border: 1px solid #32c5d2;
    border-top: 2px solid #32c5d2;
    background: #32c5d2;
    color: #ffffff;
    .widget-fluctuation-period-text {
        color: #fff;
    }
    .widget-head {
        border-bottom: 1px solid #2bb8c4;
    }
    .widget-fluctuation-description-text {
        color: #bbe7f6;
    }
    .widget-function {
        a {
            color: #42bde5;
            &:hover {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .tpl-index-settings-button {
        display: none;
    }

    .left-sidebar {
        padding-top: 111px;
    }
    .tpl-content-wrapper {
        margin-left: 0
    }
    .tpl-header-logo {
        float: none;
        width: 100%;
    }
    .tpl-header-navbar-welcome {
        display: none;
    }

    .tpl-header-fluid {
        border-top: none;
        margin-left: 0;
    }

    .theme-white .tpl-header-fluid {
        border-top: none;
    }

}

@media screen and (min-width: 641px) {
    [class*=am-u-] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 641px) {

    .theme-white {
        .tpl-error-title {
            font-size: 130px;
            line-height: 140px;

        }
    }
    .theme-white {

        .tpl-login-title {
            font-size: 20px;
        }
        .tpl-login-content {
            width: 86%;
            padding: 22px 30px 25px;
        }
    }

    .tpl-header-search {
        display: none;
    }
    ul.tpl-dropdown-content {
        position: fixed;
        width: 100%;
        left: 0;
        top: 112px;
        right: 0;
    }
}

.clone-group-remove {
    color: #666;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    padding: 4px 6px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 2px;
    &:hover {
        background-color: #9c9c9c;
        color: #fff;
    }
}

.page-title-wrap {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

//table
.table-box {
    $outBorderColor: #c0cede;
    $theadbgColor: #f2f4f6;
    font-size: 12px;
    border: 1px solid $outBorderColor;
    background-color: #fff;
    //table header
    .table-header {
        background-color: #e4eef5;
        padding: 8px 10px;
        border-bottom: none;
        .table-head-page-controler {
            font-size: 12px;
            line-height: 23px;
            color: #2d2d2d;
            form {
                float: right;
                margin-left: 15px;
            }
            input {
                line-height: 19px;
                height: 20px;
                border: 1px solid $main-color;
                width: 40px;
                text-align: center;
            }
            button {
                line-height: 19px;
                height: 20px;
                border: 1px solid $main-color;
                background-color: #fff;
                padding: 0 6px;
                color: #283973;
                border-left: 0;
            }
        }
    }
    //table 主体
    .table-body {
        width: 100%;
        border-collapse: collapse;
        overflow: auto;
        .date-list-table {
            border-collapse: inherit;
            font-size: 14px;
            background-color: #fff;
            &#widthDragable {
                thead {
                    td, th {
                        background: image_url("thead-drag-handle.png") right no-repeat;
                    }
                }
            }
            thead {
                background-color: $theadbgColor;
                td, th {
                    padding: 6px 8px;
                    border:1px solid #d5d6d8;
                }
            }
            tr:nth-child(2n) {
                background-color: #f7f8fa;
            }

            td, th {
                font-weight: normal;
                padding: 6px 8px;
                border-bottom: 1px solid #ecedef;
                color: #81858c;
                min-width: 60px;
            }

            tbody tr:hover td {
                border-bottom: 1px solid $main-color;
            }
            th {
                color: #4f4f4f;
            }
            td a {
                color: #4f4f4f;
                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

    //table footer
    .table-footer {
        .tfoot-outer {
            overflow: auto;
        }
        .tfoot-wrap {
            padding: 10px 20px;
        }
        .tpl-pagination {
            margin: 0;
        }
        .date-number-text {
            line-height: 31px;
            color: #a9aeb9;
            em {
                color: $main-color;
                font-size: 1.4em;
                font-style: normal;
            }
        }
    }
}

.table-normal{
    $outBorderColor: #c0cede;
    $theadbgColor: #f2f4f6;
    font-size: 14px;
    border: 1px solid $outBorderColor;
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    td, th {
        font-weight: normal;
        padding: 8px 8px;
        border: 1px solid $outBorderColor;
        color: #81858c;
        min-width: 60px;
    }
    th{
        background-color: $theadbgColor;
    }
}

.table-large{
    $outBorderColor: #666;
    $theadbgColor: #fff;
    font-size: 16px;
    border: 1px solid $outBorderColor;
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    td, th {
        font-weight: normal;
        padding: 20px 8px;
        border: 1px solid $outBorderColor;
        color: #333;
        min-width: 60px;
    }
    th{
        background-color: $theadbgColor;
        font-weight: bold;
    }
}

/* 角色 */
.info-wrap-role {
    padding: 30px 10px;
    @include legacy-pie-clearfix;
    .role-box {
        width: 18%;
        margin: 0px 1%;
        float: left;
        label {
            border: 2px solid #e5e5e5;
            display: block;
            height: 40px;
            line-height: 36px;
            font-size: 16px;
            padding-left: 10px;
            cursor: pointer;
            position: relative;
            border-radius: 4px;
            @include transition(all 0.5s);
            i.iconfont {
                margin-right: 6px;
                font-size: 16px;
                color: #838FA1;
            }
            &:hover {
                border-color: $main-color;
                color: $main-color;
                i.iconfont {
                    color: $main-color;
                }
            }

        }
        label.active-label {
            @include box-shadow(0 0 6px rgba(0, 0, 0, 0.4));
            border-color: $main-color;
            color: $main-color;
            i.checked {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 24px;
                height: 24px;
                background: image_url('role-checked.png');
            }
            i.iconfont {
                color: $main-color;
            }
        }
        input {
            //display: none;
            width: 0;
            height: 0;

        }
    }
}

//流程
.step-wrap {
    $step-bg-color: #f0f0f0;
    $step-point-text-color: #aaa;
    $step-text-color: #aaa;
    $active-bg-color: #7e88ab;
    $active-point-bg-color: #ffa153;
    $active-point-text-color: #fff;
    $active-text-color: $active-point-bg-color;
    $complate-bg-color: #7e88ab;
    $complate-point-text-color: #fff;
    $complate-text-color: #7e88ab;

    padding: 20px 0;
    margin: 0 auto 15px;
    .step-bar:last-of-type {
        border-radius: 0 5px 5px 0;
    }
    .step-bar:first-of-type {
        border-radius: 5px 0 0 5px;
    }
    .step-text {
        color: #acacac;
        font-size: 14px;
        display: block;
        margin-top: -10px;
    }
    .step-bar {
        width: 16.6666666%;
        background-color: $step-bg-color;
        position: relative;
        height: 10px;
        float: left;
        display: inline-block;
        text-align: center;
        color: $step-text-color;
    }
    .step-point {
        width: 30px;
        height: 30px;
        line-height: 30px;
        position: relative;
        display: inline-block;
        border-radius: 50%;
        top: -10px;
        font-size: 14px;
        @include box-shadow(none);
        background-color: $step-bg-color;
        color: $step-point-text-color;
    }
    .step-bar.complate {
        background-color: $complate-bg-color;
        .step-point {
            color: $complate-point-text-color;
            background-color: $complate-bg-color;
        }
        .step-text {
            color: $complate-text-color;
        }
    }
    .step-bar.active {
        background-color: $active-bg-color;
        .step-point {
            width: 40px;
            height: 40px;
            top: -15px;
            line-height: 40px;
            color: $active-point-text-color;
            background-color: $active-point-bg-color;
        }
        .step-text {
            color: $active-text-color;
        }
    }
}

//popWindow
.am-popup-inner {
    padding-top: 55px;
}

.am-popup {
    border-radius: 4px;
}

.am-popup-hd {
    $popHeaderHeight: 55px;
    $topBorderWidth: 4px;
    border-bottom: 1px solid #dedede;
    height: $popHeaderHeight;
    border-top: $topBorderWidth solid $main-color;
    background-color: #fff;
    .am-popup-title {
        text-align: left;
        font-weight: normal;
        color: $main-color;
        line-height: $popHeaderHeight;
    }
    .am-close {
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        color: $main-color;
        width: $popHeaderHeight - $topBorderWidth;
        height: $popHeaderHeight - $topBorderWidth;
        line-height: $popHeaderHeight - $topBorderWidth;
        box-shadow: none;
        font-size: 28px;
        @include transition(none);
        opacity: 1;
        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.am-popup-bd {
    @include legacy-pie-clearfix();
    background-color: #fff;
    padding: 0;
    .am-selected {
        width: 100%;
    }
    label {
        margin-bottom: 0;
        cursor: pointer;
    }
}

//pop window 中部主体
.pop-body {
    //height: 518px;
    padding: 15px 10px;
    overflow: auto;
    &.no-foot {
        //height: 568px;
    }
}

.pop-footer {
    height: 50px;

}

//滚动条样式
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $main-color;
    background-color: rgba(40, 57, 115, 0.75);
    @include opacity(0.75);
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #b5b5b5;
    background-color: rgba(0, 0, 0, .4);
    @include opacity(0.4);
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: $main-color;
    background-color: rgba(40, 57, 115, 0.9);
    @include opacity(0.9);
}

//滚动条 - 亮
.light-theme.mCustomScrollbar {
    .mCSB_dragger .mCSB_dragger_bar {
        background-color: #ccc;
        background-color: rgba(255, 255, 255, 0.75);
        @include opacity(0.75);
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        background-color: #e4e8ff;
        background-color: rgba(228, 232, 255, 0.4);
        @include opacity(0.4);
    }
}

//更新日志
.updata-log-wrap {
    dl {
        padding: 0 0;
    }
    dt {
        font-size: 16px;
        color: #333;
        margin-top: 25px;
    }
    dd {
        font-size: 14px;
        color: #666;
    }
}

//grid
@media screen and (min-width: 1441px) {
    .grid-wrap {
        .grid-lg4-md6 {
            width: 32%;
            margin-right: 2%;
            float: left;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .grid-wrap {
        .grid-lg4-md6 {
            width: 49%;
            margin-right: 2%;
            float: left;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

}

//幫助中心
$help-header-height: 60px;
.help-header {
    $color: #3a4040;
    background: #fff;
    height: $help-header-height;
    padding: 0 25px;
    transition: all 0.4s ease-in-out;
    @include box-shadow(3px 3px 4px rgba(0, 0, 0, .1));
    h1 {
        line-height: $help-header-height - 2px;
        color: $main-color;
        font-weight: normal;
    }
    .service-telephone {
        font-size: 20px;
        line-height: $help-header-height;
        color: #000;
    }
}

.help-center, .user-center {
    $bd-c: #e4e4e4;

    margin: 20px;
    border: 1px solid $bd-c;
    border-radius: 6px;
    position: relative;
    background-color: #f7f7f7;

    //left
    .left {
        float: left;
        width: 200px;
        position: relative;
        height: 100%;
        h2 {
            font-size: 20px;
            color: $main-color;
            text-align: center;
            line-height: 50px;
        }
        .list li {
            border-bottom: 1px solid $bd-c;
            height: 59px;
            a {
                color: #666;
                font: normal 16px/60px "Microsoft YaHei";
                display: block;
                padding-left: 20px;
                position: relative;
                i {
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    vertical-align: 2px;
                    margin-right: 10px;
                    background-color: #919191;
                }
            }
            a.active {
                color: $main-color;
                background-color: #fff;
                border-bottom: 1px solid $bd-c;
                right: -1px;
                font-weight: bold;
                border-right: 1px solid #fff;
                i {
                    background-color: $main-color;
                }
            }
        }
    }

    //right
    .right {
        margin-left: 200px;
        padding: 0 20px 0;
        background: #fff;
        border-left: 1px solid $bd-c;
        h2 {
            font: normal 24px "Microsoft YaHei";
            color: #333;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 15px;
            margin-bottom: 20px;
            padding-top: 15px;
        }
        .text {
            font: normal 16px/25px "Microsoft YaHei";
            color: #666666;
            p {
                padding-bottom: 10px;
                margin: 0;
            }
            img {
                max-width: 900px;
                border: 1px solid #ccc;
                margin: 30px 0;
                display: block;
            }
            strong {
                font-weight: bold;
                font-size: 22px;
                color: #000;
                margin-bottom: 20px;
                margin-top: 60px;
                display: block;
            }

        }
        .content-wrap {
            display: none;
            &.active {
                display: block;
            }
        }
    }

}


//远程监控
.hourglass-wrap{
    text-align: center;
    padding-top: 150px;
    color: #fff;
    img{

    }
    p{
        text-align: center;
        font-size: 16px;
    };
}
#CountDown{
    font-size: 18px;
    b{
        color: orange;
    }
}
.no-vertical-border{
    border-right: none !important;
    border-top: none !important;
    border-bottom: none;
    tbody tr:last-child{
        td,th{
            border-bottom: none !important;
        }
    }
    td,th{
        border-left:none !important;
        border-right: none !important;
    }
}
.widget-title-mini{
    color: $main-color;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 15px;
    text-indent: 15px;
    border-bottom:1px solid #f0f0f0;
}

//聊天室
.chart-room-wrap,.sign-in-wrap{
    margin:0;
    li{
        margin: 15px 0 ;
        font-size: 14px;
        span{
            color: #54a7fe;
        }
    }
}
.chart-room-wrap{
    padding: 10px;
    dl{
        padding:6px;
        border-radius: 5px;
        background-color: #f0f0f0;
        margin-bottom: 15px;
        margin-top: 4px;
        font-size: 14px;
    }
    p{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .chart-time{
        i{
            font-size: 14px;
        }
        font-size: 12px;
    }
    .reply-wrap{
        display: none;
    }
}
.chart-send-wrap{
    background-color: #fff;
    padding:10px 10px;
}

//场地预约
.room-pick-table{
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
    background-color: #fff;
    td, th{
        padding:20px 15px;
        text-align: center;
        border:1px solid #e3e8f1;
    }
    thead th{
        font-size: 16px;
        font-weight: normal;
        background-color: #ebeef3;
        color: #687c9c;
    }
    tbody th{
        font-size: 16px;
        font-weight: bold;
        color: #1a67ce;
        width: 100px;
        vertical-align: middle;
    }
    tbody td{
        padding: 20px 15px;
    }
}
.vacation-day{
    background:image_url("holiday.png") no-repeat center;
}
.room-pick-box a{
    display: block;
    overflow: hidden;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    background-color: #52ca88;
    color: #fff;
    margin-bottom: 12px;
    &:hover{
        background-color: #249e5f;
        color: #fff;
        @include box-shadow(0 0 8px rgba(36, 158, 95, 0.5));
    }
    &.time-take-up{
        background-color: transparent;
        color: #9c9c9c;
        border: none;
        cursor: not-allowed;
    }
    &.my-reservation{
        background-color: #ff8c49;
        color: #fff;
        border: none;
        cursor: not-allowed;
    }
}

//时间选择
.weeks-pick-wrap{
    float: right;
    height: 30px;
    span{
        font-size: 16px;
        color: #0F62C8;
        font-weight: bold;
        line-height: 24px;
        padding:0 20px;
        vertical-align: middle;
    }
    a{
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size:16px;
        color: #0F62C8;
        margin:0 2px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        line-height: 28px;
        text-align: center;
        vertical-align: middle;
        &:hover{
            color: #fff;
            background-color: #0F62C8;
        }
    }
}

//项目来源
.laiyuan-wrap{
    input{
        display: none;
    }
    label{
        display: block;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        padding:15px 0;
        span{
            font-size: 16px;
            padding-top: 8px;
            display: block;
        }
    }
    input:checked+label{
        border: 1px solid $main-color;
        background-color: #e9eeff;
    }
}

.points-level-low,.points-level-height,.points-level-middle{
    padding-left: 15px;
    border-left:5px solid;
}
.points-level-height{
    border-color: #249e5f;
}
.points-level-middle{
    border-color: #00aaee;
}
.points-level-low{
    border-color: #ff5500;
}

#leftMenuBox {
    padding-bottom: 50px;
}

//消除左侧菜单滚动条间距
.left-sidebar .mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.footer {
    text-align: center;
    line-height: 30px;
    height: 30px;
    background-color: $main-color;
    color: #fff;
    z-index: 2;
    font-size: 12px;
    position: relative;
}
.videobox{
    height: 480px;
    display: none;
    background: image_url("video.jpg") no-repeat center;
}
//欢迎
.system-welcome-wrap{
    background: image_url('welcome.jpg') no-repeat ;
    width: 779px;
    height: 360px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -390px;
    margin-top: -180px;
    text-align: center;
    span{
        font-size: 28px;
        color: #838FA1;
        margin-top: 100px;
        display: block;

    }
    h1{
        //font-weight: normal;
        font-size: 30px;
        line-height: 50px;
        color: $main-color;
        margin-top: 10px;

    }
}
//page-tabs
.page-tabs-controler-wrap{
    @include legacy-pie-clearfix();
    padding: 0 20px;
    margin:10px 0 0;
    border-bottom:2px solid $main-color;
    display: table;
    width: 100%;
    ul{
        display: table-row;
        padding:10px ;
    }
    li{
        display: table-cell;
        padding-right: 4px;
        vertical-align: bottom;
        position: relative;
        &.tab-warning{
            background-color: #fff;
        }
        .page-tabs-icon{
            position: absolute;
            color: red;
            top: -9px;
            right: 2px;
            z-index: 99;
            font-size:18px;
        }
    }
    a{
        display: block;
        padding:5px 10px;
        font-size: 14px;
        color: #666;
        background-color: #fff;
        border-radius: 5px 5px 0 0;
        border: 1px solid #ccc;
        border-bottom: none;
        line-height: 20px;
        word-break: break-all;
        text-align: center;
        height: 100%;
        &:hover{
            background-color: #f0f0f0;
        }
    }
    li.active{
        a{
            background-color: $main-color;
            color: #fff;
            border-color: $main-color;
        }
    }
}


//popup
.pop-large{
    width: 70%;
    height: 80%;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.pb-video-wrap{
    margin:20px 0;
    text-align: center;
    .pb-video-item{
        text-align: center;
        width:250px;
        margin-bottom: 20px;
        padding:5px;
        display: inline-block;
        background-color: #fff;
        &:hover{
            @include box-shadow(1px 1px 20px rgba(0,0,0,.2));
        }
        a{
            display: inline-block;
            img{
                width: 240px;
                height: 180px;
                display: block;
            }
        }
        span{
            font-size: 12px;

        }
    }
}
.porject-name{
    padding: 20px 20px 0;
    font-size: 24px;
    font-weight: normal;
    color: $main-color;
    margin-bottom: 20px;
    float: left;
}
.file-wrap{
    padding:1em;
    border-top:1px solid #f0f0f0;
    margin-top: 2em;
}
//sub-tabs-wrap
/*.sub-tabs-wrap{
    margin-bottom: 20px;
    li{
        float: left;
        margin-right: 5px;
        height: 36px;
        a{
            padding:6px 10px;
            font-size: 14px;
            line-height: 24px;
            height: 24px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 30px;
            color: #666;
        }
        &.active a{
            background-color: $main-color;
            border: none;
            color: #fff;
        }
    }
}*/
.sub-tabs-wrap{
    margin-bottom: 20px;
    background-color: #fff;
    padding:10px;
    li{
        float: left;
        height: 36px;
        width:20%;
        a{
            padding:6px 10px;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 14px;
            display: block;
            border-radius: 3px;
            color: #666;
            background-color: #f0f0f0;
            @include ellipsis();
            &:hover{
                background-color: #d5d6d8;
            }
        }
        &.active a{
            background-color: $main-color;
            border: none;
            color: #fff;
        }
    }
}

@media screen and (min-width:1440px ) {
    .sub-tabs-wrap{

        li{
            width: 16.66%;
        }
    }
}

.no-content-wrap{
    text-align: center;
    padding-top: 100px;
    .no-content-wrap{
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 30px;
    }
    a{
        display: inline-block;
    }
}
.content-head{
    @include legacy-pie-clearfix();
    border-bottom:1px solid #f0f0f0;
    margin-bottom: 30px;
}
.page-nav-btn{
    padding: 15px;
    ul{

    }
    li{
        width: 31.3%;
        margin:1% 1%;
        float: left;
    }
    a{
        padding:15px 0 8px;
        display: block;
        color: #fff;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        background-color: $main-color;
        border-radius: 5px;
        height: 40px;
        @include box-sizing(content-box);
        &:hover{
            background-color:lighten($main-color,10%) ;
        }
    }
}

.menu-level-2{
    padding-left:  40px !important;
}


.confirm-list{
    clear: both;
    padding-left: 26px;
    padding-top: 10px;
    li{
        font-size: 13px;
        color: #919294;
        i{
            font-size: 16px;
        }
    }
}

.greatMany{
    padding: 5px 0px;
}