<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh_CN">
<head th:replace="fragments/head :: head">
<meta charset="UTF-8" />
</head>
<body class="bg-gray">
	<div th:include="fragments/header-navbar :: body" th:remove="tag"></div>
	<div th:include="fragments/nav-hor :: body" th:remove="tag"></div>
	<div class="wrap-1080-mid margin-large-top clear marginB22">
		<div class="block-w-shadow wrap-1080-mid p_rela">
			<h1 class="fs-18 border-bottom padding text-gray clear">
				<span class="tit-text">缴纳交易信息</span>
			</h1>

			<div class="padding-big clear">
				<form method="post"  th:action="@{/pub/payurl}" class="form-x form-auto  margin-big-bottom padding-large-top registerform" id="payinfo_form" target="_blank">
					<input type="hidden"  id="trade_use" name="use" th:value="${use}"/>
					<input type="hidden"  id="trade_paytype" name="paytype" th:value="${paytype}"/>
					<input type="hidden"  id="trade_remark" name="remark" th:value="${remark}"/>
					<input type="hidden"  id="trade_target" name="target" th:value="${target}"/>
					<input type="hidden"  id="trade_fbtargetunique" name="fbtargetunique" th:value="${fbtargetunique}"/>
					<div th:if="${fbtargetunique != ''}" class="form-group">
						<div class="label">
							<label><span >交易主体名称</span></label>
						</div>
						<div class="field">
							<input type="hidden"  id="trade_fpbucode" name="fpbucode" th:value="${fpbucode}"/>
							<input type="text" class="input input-auto" size="70"  id="trade_targetName" name="fname" th:value="${targetName}" readonly="readonly"/>
						</div>
					</div>
					<div class="form-group">
		              	<div class="label">
							<input type="hidden"  id="trade_payType" name="payType" th:value="${payType}"/>
							<label><span th:text="${amountLable}"></span></label>
						</div>
						<div class="field">
							<input th:if="${amount != ''}" th:value="${amount}" readonly="readonly" type="text" class="input input-auto" size="30" data-validate="required:必填"  id="trade_amount" name="famount" />
							<input th:if="${amount == ''}" type="text" class="input input-auto" size="30" data-validate="required:必填"  id="trade_amount" name="famount" />
							<label><span>元</span></label>
						</div>
		            </div>
		            <div th:if="${buvconfigs}" class="form-group">
		                <div class="label">
							<label><span >业务系统名称</span></label>
						</div>
						<div class="recharge_bank f_l">	
							<div id="tab_content" class="tab_cont">
								<select class="form-control input" name="fpbucode" onchange="changeFareaname(this)">
									<option th:each="buvconfig:${buvconfigs}" th:text="${buvconfig.fbusysname}" th:value="${buvconfig.fpbucode}"></option>
								</select>
								<select class="form-control input" id="trade_fpbucode" disabled="disabled">
									<option th:each="buvconfig:${buvconfigs}" th:text="${buvconfig.fareaname}" th:value="${buvconfig.fpbucode}"></option>
								</select>
							</div>
						</div>
		            </div>
		            <div class="form-group">
		                <div class="label">
							<label><span >银行账号</span></label>
						</div>
						<div class="recharge_bank f_l">
							<div id="tab_content" class="tab_cont">
								<label class="recharge_label  text-blue" th:if="${banks == ''}">
									<a th:href="@{/paramsBankCard}" >添加银行卡</a>
								</label>
								<label class="recharge_label" th:if="${banks != ''}" th:each="bank:${banks}">
									<input type="radio" data-type="aid" class="list-chk" name="bankid" th:value="${bank.fid}" />
									<input type="hidden" class="funiontype" th:value="${bank.funiontype}" />
									<img th:src="${bank.fbanktype}" width="125" height="32" alt=""/>
									<p>
										<label th:text="${bank.fbankaccount}"></label>
									</p>
									<p>
										<label th:text="${bank.faccountuser}"></label>
									</p>
								</label>
							</div>
						</div>
		            </div>
					<div class="form-group">
						<div class="label">
							<label><span></span></label>
						</div>
						<div class="field">
							<input type="hidden" th:if="${isCan=='0'}" th:value="${noPayMsg}" id="canPayMsgShow" />
							<button class="button button-big text-center w-210 bg-main" id="submit_btn_payment" th:if="${isCan=='1'}" type="button" onclick="submitPay()">确认缴纳</button>
							<button class="button button-big text-center w-210 bg-main" id="submit_btn_payment" th:if="${isCan=='0'}" type="button" onclick="doSubmitPay()">确认缴纳</button>
						</div>
					</div>
				</form>
			</div>
			<div class="warning-box">
				<dl>
					<dt class="">
						<i class="icon-exclamation-triangle"></i> 注意
					</dt>
					<dd>1. 所有投标保证金将由第三方平台托管。</dd>
					<dd>2. 平台禁止信用卡套现、虚假交易等行为，一经发现将予以处罚，包括但不限于:限制收款、冻结账户，永久停止服务等。</dd>
				</dl>
			</div>
		</div>
		<!-- end page -->

		<form method="post" th:action="@{/pub/feedback/1815344548271063653}" id="test_post_form">

		</form>
	</div>

	<div th:include="fragments/foot :: body" th:remove="tag"></div>
	<script th:src="@{/ui/back/lib/laydate/laydate.js}"></script>
	<script th:include="fragments/script :: body" th:remove="tag"></script>
	<script th:inline="javascript">
		function doPayPost(){
			/*jQuery("#payinfo_form").submit();*/
			//新缴纳
			var index = layer.load(2, {shade: [0.2,'#fff']});
			jQuery.post(/*[[@{/pub/payurl}]]*/,jQuery("#payinfo_form").serialize(),function(o){
				if(o.msg==undefined|| o.msg == ""){
					//正确
					var realPayWindow=window.open(o.payUrl);
					var closeWindow=setInterval(function(){
						if(realPayWindow.closed){
							layer.close(index);
							jQuery("#submit_btn_payment").attr("disabled",true);
							clearInterval(closeWindow);
						}
					},10000);

				}else{
					//异常
					layer.confirm(o.msg+",请核实,问题处理之后再试一次", {
						btn: ['再试一次','取消'] //按钮
					}, function(){
						doPayPost();
					}, function(){});
				}
			});

			//调用老tws代码块
//			var index = layer.load(2, {shade: [0.2,'#fff']});
//			jQuery.post(/*[[@{/pay}]]*/,jQuery("#payinfo_form").serialize(),function(o){
//				if(o.msg==undefined|| o.msg == ""){
//					//正确
//					var realPayWindow=window.open(o.payUrl);
//					var closeWindow=setInterval(function(){
//						if(realPayWindow.closed){
//							layer.close(index);
//							jQuery("#submit_btn_payment").attr("disabled",true);
//							clearInterval(closeWindow);
//						}
//					},10000);
//
//				}else{
//					//异常
//					layer.confirm(o.msg+",请核实,问题处理之后再试一次", {
//						btn: ['再试一次','取消'] //按钮
//					}, function(){
//						doPayPost();
//					}, function(){});
//				}
//			});
		}

		function doSubmitPay(){
			var showNoPayMsg=jQuery("#canPayMsgShow").val();
			if(showNoPayMsg!=undefined){
				if(showNoPayMsg!=''){
					layer.msg(showNoPayMsg, {
						icon: 0,
						time: 5000
					}, function(){
					});
					return ;
				}
			}
		}

		function submitPay(){
			var amount=jQuery("#trade_amount").val();
			if(amount == undefined||amount==''){
				layer.msg('请先输入您要缴纳的金额', {
					icon: 0,
					time: 3000
				}, function(){
				});
				return ;
			}
			amount = jQuery.trim(amount);
			var p =/^[1-9](\d+(\.\d{1,2})?)?$/;
			var p1=/^[0-9](\.\d{1,2})?$/;
			if(!(p.test(amount) || p1.test(amount))){
				layer.msg('您输入的金额格式不正确，请输入正确的金额', {
					icon: 0,
					time: 3000
				}, function(){
				});
				return ;
			}
			var bank=jQuery('input[type="radio"][name="bankid"]:checked').val();
			if(bank == undefined ||bank==""){
				layer.msg('请先选择您将用于支付的银行卡', {
					icon: 0,
					time: 3000
				}, function(){
				});
				return ;
			}
			//确认框，当用户选择的卡类型为联合体主卡时提示
			var funiontype = $('input[type="radio"][name="bankid"]:checked').siblings('input.funiontype')[0].value;
			if(funiontype == '1'){
                var layopen = layer.confirm('您当前选中的银行卡为<span style="color: red">联合体主卡</span>，若继续缴纳请点击确认', {
                    title:"提示", btn: ['确认','取消'], closeBtn: 0
                }, function(){
                    doPayPost();
                    layer.close(layopen);
                }, function(){layer.close(layopen);});
			}else if(funiontype == '2'){
                layer.msg('联合体附属卡不可用于主动缴纳，请选择其他卡类型', {icon: 0, time: 3000}, function(){});
			}else{
                doPayPost();
			}
		}

		function changeFareaname(obj){
			var fpbucode=jQuery(obj).val();
			if(fpbucode == undefined || fpbucode == null || fpbucode == ""){
			} else{
				$("#trade_fpbucode").val(fpbucode);
			}
		}
		
	</script>
</body>
</html>